<div class="widget form-group">
    <label [attr.for]="id" class="d-flex justify-content-between control-label">
        <span>
            {{ schema.title }}
            <i class="fa fa-asterisk text-danger" aria-hidden="true" *ngIf="required"></i>
        </span>
        <span *ngIf="schema.description">
            <ng-template #tooltip i18n="@@tooltip--description">{{ schema.description }}</ng-template>
            <i class="info-icon fa fa-fw fa-info-circle text-primary fa-lg"
                [ngbPopover]="tooltip"
                i18n-aria-label="@@tooltip--instruction"
                aria-label="Information icon - press spacebar to read additional information for this form field"></i>
        </span>
    </label>
    <span *ngIf="schema.description" class="sr-only">{{schema.description}}</span>
    <textarea [attr.readonly]="schema.readOnly?true:null"
        [name]="name"
        class="text-widget textarea-widget form-control"
        [attr.placeholder]="schema.placeholder"
        [attr.maxLength]="schema.maxLength || null"
        [attr.minLength]="schema.minLength || null"
        [rows]="schema.widget.rows || 5"
        [formControl]="control"
        [attr.aria-label]="schema.title"></textarea>
</div>
