<div class="widget form-group">
    <label [for]="formProperty._canonicalPath" class="d-flex justify-content-between control-label">
        <span>
            <translate-i18n [key]="schema.title">{{ schema.title }}</translate-i18n>
            <i class="fa fa-asterisk text-danger" aria-hidden="true" *ngIf="required"></i>
            <span *ngIf="required" class="sr-only required" translate="message.required">required</span>
        </span>
        <span *ngIf="schema.description">
            <info-icon [description]="schema.description | translate"></info-icon>
        </span>
    </label>
    <span *ngIf="schema.description" class="formHelp" [translate]="schema.description">{{schema.description}}</span>
    <input #input
        disableValidation="true"
        [attr.readonly]="schema.readOnly?true:null"
        [id]="formProperty._canonicalPath"
        [name]="name"
        class="text-widget float-widget form-control"
        [formControl]="control"
        [attr.type]="'number'"
        [attr.min]="schema.minimum"
        [attr.max]="schema.maximum"
        [attr.placeholder]="schema.placeholder | translate"
        [attr.step]="schema.multipleOf || schema.widget.step"
        [attr.required]="schema.isRequired || null"
        [attr.aria-invalid]="errorMessages && errorMessages.length > 0"
        [attr.aria-describedby]="formProperty._canonicalPath + '-help'">
    <small [id]="formProperty._canonicalPath + '-help'"
        [ngClass]="{
            'text-danger': !showHint && showError,
            'text-secondary': !showError
        }" class="form-text text-secondary">
        <span *ngIf="showHint" [translate]="schema.widget.help">
            {{ schema.widget.help }}
        </span>
        <span *ngIf="showError" [ngClass]="{'sr-only': !control.touched}">
            <ng-container *ngFor="let error of errorMessages; let first=first;">
                <ng-container *ngIf="!first">, </ng-container>
                <translate-i18n [key]="getError(error)">error</translate-i18n>
            </ng-container>
        </span>
    </small>
</div>
