<div class="widget form-group">
    <label [attr.for]="id" class="d-flex justify-content-between control-label">
        <span>
            <translate-i18n [key]="schema.title">{{ schema.title }}</translate-i18n>
            <i class="fa fa-asterisk text-danger" aria-hidden="true" *ngIf="required"></i>
        </span>
        <span *ngIf="schema.description">
            <info-icon [description]="schema.description | translate"></info-icon>
        </span>
    </label>
    <span *ngIf="schema.description" class="formHelp" [translate]="schema.description">{{schema.description}}</span>
    <input #input
        disableValidation="true"
        [attr.readonly]="schema.readOnly?true:null"
        [id]="formProperty._canonicalPath"
        [name]="name"
        class="text-widget float-widget form-control"
        [formControl]="control"
        [attr.type]="'number'"
        [attr.min]="schema.minimum"
        [attr.max]="schema.maximum"
        [attr.placeholder]="schema.placeholder | translate"
        [attr.step]="schema.multipleOf || schema.widget.step"
        [attr.aria-label]="schema.title">
</div>
