<fieldset>
    <div class="row">
        <div class="col-lg-6">
            <div class="d-flex justify-content-start">
                <div ngbDropdown>
                    <button ngbDropdownToggle
                        class="btn btn-outline-secondary dropdown-toggle"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        {{ this.displayType }}
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a *ngFor="let option of typeOptions" class="dropdown-item" href="#" (click)="$event.preventDefault(); select(option.value);">
                            {{ option.description }}
                        </a>
                    </div>
                </div>
                &nbsp;
                <i class="fa fa-asterisk text-danger"></i>
            </div>
            <br />
            <div class="d-flex justify-content-between">
                <div class="w-100" [ngSwitch]="this.entityAttributesFilterTargetType">
                    <ng-container *ngSwitchDefault>
                        <auto-complete
                            id="entityId"
                            class="component-control"
                            limit="10"
                            [formControl]="search"
                            [matches]="ids$ | async"
                            (keydown.enter)="onSelectValue(search.value)">
                        </auto-complete>
                        <small [class.text-danger]="search.invalid && search.touched">
                            You must add at least one entity id target and they must each be unique.
                        </small>
                    </ng-container>
                    <ng-container *ngSwitchCase="'CONDITION_SCRIPT'">
                        <p class="codearea form-control" rows="8" contenteditable [formControl]="script" name="script"></p>
                        <small id="script-help" class="text-danger">
                            <ng-container *ngIf="script.invalid && script.touched">Required for Scripts</ng-container>
                            &nbsp;
                        </small>
                    </ng-container>
                    <ng-container *ngSwitchCase="'REGEX'">
                        <input class="form-control" type="text" [formControl]="script" name="script" />
                        <small id="regex-help" class="text-danger">
                            <ng-container *ngIf="script.invalid && script.touched">Required for Regex</ng-container>
                            &nbsp;
                        </small>
                    </ng-container>
                </div>
                <div class="ml-2" *ngIf="entityAttributesFilterTargetType === 'ENTITY'">
                    <button
                        class="btn btn-success"
                        [disabled]="search.invalid"
                        (click)="onSelectValue(search.value)">
                        Add Entity ID
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <ul class="list-group list-group-sm list-group-scroll" *ngIf="entityAttributesFilterTargetType === 'ENTITY'">
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let id of targets">
                    {{ id }}
                    <button class="btn btn-link text-right" (click)="removeId(id)">
                        <i class="fa fa-trash fa-lg text-danger"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</fieldset>
<hr class="w-100" />