<fieldset *ngIf="targetAttribute">
    <div class="row">
        <div class="col-lg-6">
            <div>
                <label [attr.for]="id" class="d-flex justify-content-start control-label">
                    <span>
                        <translate-i18n key="action.search-by">Search By</translate-i18n> <i class="fa fa-asterisk text-danger" aria-hidden="true"></i></span>
                    <span>
                        <info-icon [description]="'action.search-by' | translate"></info-icon>
                    </span>
                </label>
                <div ngbDropdown>
                    <button ngbDropdownToggle
                        [id]="formProperty._canonicalPath + '.valuedd'"
                        class="btn btn-outline-secondary dropdown-toggle"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        [translate]="this.displayType">
                        {{ this.displayType }}
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a *ngFor="let option of typeOptions"
                            class="dropdown-item"
                            href="#"
                            (click)="$event.preventDefault(); select(option.value);"
                            [translate]="option.description">
                            {{ option.description }}
                        </a>
                    </div>
                </div>
            </div>
            <br />
            <div>
                <label for="targetInput" class="d-flex justify-content-start control-label">
                    <span>
                        <translate-i18n key="label.search-criteria-by" [params]="{ displayType: (displayType | translate) }">
                            Search Criteria by {{ this.displayType | translate }}
                        </translate-i18n>&nbsp;&nbsp;
                        <i class="fa fa-asterisk text-danger" aria-hidden="true"></i>
                    </span>
                    <span>
                        <info-icon [description]="'label.search-criteria-by' | translate:{ displayType: (displayType | translate) }"></info-icon>
                    </span>
                </label>
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1" [ngSwitch]="this.targetType">
                        <ng-container *ngSwitchDefault>
                            <auto-complete
                                [fieldId]="formProperty._canonicalPath + '.target'"
                                class="component-control"
                                limit="10"
                                [formControl]="search"
                                [matches]="ids$ | async"
                                [count]="idCount$ | async"
                                (keydown.enter)="onSelectValue(search.value)">
                            </auto-complete>
                            <small [class.text-danger]="search.invalid && search.touched" translate="message.entity-id-min-unique">
                                You must add at least one entity id target and they must each be unique.
                            </small>
                        </ng-container>
                        <ng-container *ngSwitchCase="'CONDITION_SCRIPT'">
                            <p [id]="formProperty._canonicalPath + '.target'" role="textbox" class="codearea form-control" rows="8" contenteditable [formControl]="script" name="script"></p>
                            <small id="script-help" class="text-danger">
                                <ng-container *ngIf="script.invalid && script.touched">
                                    <translate-i18n key="message.required-for-scripts">Required for Scripts</translate-i18n>
                                </ng-container>
                                &nbsp;
                            </small>
                        </ng-container>
                        <ng-container *ngSwitchCase="'REGEX'">
                            <input [id]="formProperty._canonicalPath + '.target'"
                                class="form-control"
                                type="text"
                                [formControl]="script"
                                name="script" />
                            <small id="regex-help" class="form-text text-secondary" *ngIf="!(hasErrors$ | async)">
                                <translate-i18n key="message.required-for-regex">Required for Regex</translate-i18n>
                                &nbsp;
                            </small>
                            <small class="form-text text-danger" *ngIf="hasErrors$ | async">
                                <ng-container *ngFor="let error of errors$ | async; let first=first;">
                                    <ng-container *ngIf="!first">, </ng-container>
                                    <translate-i18n [key]="error.message">{{ error.message }}</translate-i18n>
                                </ng-container>
                            </small>
                        </ng-container>
                    </div>
                    <div class="ml-2" *ngIf="targetType === 'ENTITY'">
                        <button class="btn btn-success"
                            [disabled]="search.invalid"
                            (click)="onSelectValue(search.value)">
                            <translate-i18n key="action.add-entity-id">Add Entity ID</translate-i18n>&nbsp;&nbsp;
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" *ngIf="targetType === 'ENTITY'">
            <label class="control-label" translate="label.entity-ids-added">Entity Ids Added</label>
            <hr />
            <ul class="list-group list-group-sm list-group-scroll">
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let id of targets">
                    {{ id }}
                    <span>
                        <sf-form-element-action
                            *ngFor="let button of getButtonConfig(id)"
                            [button]="button"
                            [formProperty]="formProperty">
                        </sf-form-element-action>
                        <button class="btn btn-link text-right" (click)="removeId(id)">
                            <i class="fa fa-trash fa-lg text-danger"></i>
                        </button>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</fieldset>
<hr class="w-100" />