<section class="section">
    <div class="section-body border border-top-0 border-primary">
        <div class="section-header bg-primary p-2 text-light">
            <div class="row justify-content-between">
                <div class="col-12">
                    <span class="lead"><translate-i18n key="label.user-maintenance">User Maintenance</translate-i18n></span>
                </div>
            </div>
        </div>
        <div class="p-3">
            <user-management></user-management>
        </div>
    </div>
</section>

