@import '../variables';
@import '~bootstrap/scss/_mixins';

.btn.btn-text {
    display: inline;
    padding: 0px;
    margin: 0px;
    background: none;
}

.btn.btn-link {
    &:focus {
        outline: 5px auto -webkit-focus-ring-color;
    }
}

.nav.nav-wizard {
    .nav-item {
        margin-right: $custom-control-spacer-x * 3;

        &:first-child .current {
            margin-left: 34px;
        }

        &:last-child {
            margin-right: 0px;
            margin-left: $custom-control-spacer-x * 2;
        }

        .nav-link.btn {
            @include button-size($input-btn-padding-y-lg, $input-btn-padding-x-lg, $font-size-sm, $line-height-lg, $btn-border-radius-lg);
            white-space: normal;
            height: 60px;

            &.previous {
                $color: theme-color('secondary');
                @include button-variant($color, $color);
            }
            &.current {
                $color: theme-color('primary');
                @include button-variant($color, $color, $color);
            }
            &.next {
                $color: theme-color('success');
                @include button-variant($color, $color);
            }
            &.save {
                $color: theme-color('info');
                @include button-variant($color, $color);
            }

            & > .direction {
                font-size: $font-size-xs;
            }

            & > .label {
                display: inline-block;
                max-width: 160px;
                text-align: left;
            }

            &.next, &.save {
                & > .direction {
                    border-left: 1px solid $white;
                    padding-left: $custom-control-spacer-x;
                    margin-left: $custom-control-spacer-x;
                }
            }

            &.previous {
                & > .direction {
                    border-right: 1px solid $white;
                    padding-right: $custom-control-spacer-x;
                    margin-right: $custom-control-spacer-x;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .nav.nav-wizard .nav-item {
        &:not(:last-child) {
            margin-right: $custom-control-spacer-x * 2;
        }
        &:last-child {
            margin-left: $custom-control-spacer-x;
        }
        .nav-link.btn {
            @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-xs, $line-height-sm, $btn-border-radius-sm);

            &.next, &.save {
                & > .direction {
                    padding-left: $custom-control-spacer-x / 2;
                    margin-left: $custom-control-spacer-x / 2;
                }
            }

            &.previous {
                & > .direction {
                    padding-right: $custom-control-spacer-x / 2;
                    margin-right: $custom-control-spacer-x / 2;
                }
            }

            .label {
                max-width: 130px;
            }
        }
    }
}