#property-selector {
    .dropdown-header {
        padding-right: 0rem;
        padding-left: 0rem;
        font-size: 1rem;
        
        .dropdown-item {
            font-weight: bold;
        }
    }
}