.list-group {
    &.list-group-sm {
        & > .list-group-item {
            padding: 0rem 0.75rem;
        }
    }

    &.list-group-scroll {
        overflow: scroll;
        max-height: 48px * 5;

        & > .list-group-item {
            min-height: 30px;
        }
    }
}

.no-style {
    list-style: none;
    padding: 0px;
    & > li {
        padding: 0px;
    }
}

.infinite-scroll-component {
    overflow: unset !important;
}