.source-list tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

.provider-index {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: lighter;
    font-family: monospace;
    width: 45px;
}

.table-providers {
    tr > td {
        vertical-align: middle;
    }
}