.subheading-1 {
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 1.2;
}

.br-word {
    word-break: break-word;
}

.lead {
    line-height: 36px;
}

.text-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    display: block;
}

.navbar-light .navbar-text {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    color: rgba(0, 0, 0, 0.75);
}