.border-2 {
    border-width: 2px !important;
}

.bg-lighter {
    background: #FAFAFA !important;
}

.bg-primary-light {
    background: lighten($brand-primary, 75%);
}

.w-15 {
    width: 15%;
}

.w-40 {
    width: 40%;
}

.break-all {
    word-break: break-all;
}


.bg-diff {
    background: #FEE8E9;
    position: relative;
    border-color: #CCC !important;
    &::before {
        $size: 24px;
        content: "\f06a";
        font-family: 'FontAwesome';
        text-align: center;
        width: $size;
        height: $size;
        position: absolute;
        left: -$size;
        top: 0.5rem;
    }
}