<form [formGroup]="form" role="form">
    <div class="row" formGroupName="serviceProviderSsoDescriptor">
        <fieldset class="col col-xl-6 form-section">
            <div class="form-group">
                <div class="row">
                    <label for="protocolSupportEnum" class="col-sm-10">
                        <translate-i18n key="label.protocol-support-enumeration">Protocol Support Enumeration</translate-i18n>
                    </label>
                    <span class="col-sm-2 text-right">
                        <ng-template #tooltipProtocolSupportEnumeration>
                            <translate-i18n key="tooltip.protocol-support-enumeration">Protocol Support Enumeration popover</translate-i18n>
                        </ng-template>
                    <i class="info-icon fa fa-fw fa-info-circle text-primary fa-lg"
                       [ngbPopover]="tooltipProtocolSupportEnumeration"
                       [attr.aria-label]="'tooltip.instruction' | translate"></i>
                    </span>
                </div>
                <select id="protocolSupportEnum" class="form-control" formControlName="protocolSupportEnum" aria-label="Protocol support enumeration dropdown" role="listbox">
                    <option disabled selected [ngValue]="null" hidden translate="label.select-protocol" role="option">Select Protocol</option>
                    <option *ngFor="let opt of enumOptions" [value]="opt" [attr.aria-label]="opt" role="option">{{ opt }}</option>
                </select>
            </div>
            <div class="form-group">
                <div class="row">
                    <span class="col-sm-10">
                        <translate-i18n key="label.nameid-format">NameID Format</translate-i18n>&nbsp;
                        <button class="btn btn-success btn-sm" (click)="addFormat()" translate="action.add-nameid-format" role="button">Add NameID Format</button>
                    </span>
                    <span class="col-sm-2 text-right">
                        <ng-template #tooltipNameIdFormat>
                            <translate-i18n key="tooltip.nameid-format">Add NameID Format Popover</translate-i18n>
                        </ng-template>
                        <i class="info-icon fa fa-fw fa-info-circle text-primary fa-lg"
                           [ngbPopover]="tooltipNameIdFormat"
                           [attr.aria-label]="'tooltip.instruction' | translate"></i>
                    </span>
                </div>
            </div>
            <div formArrayName="nameIdFormats" class="form-group" *ngIf="nameIdFormats.length">
                <div *ngFor="let format of nameIdFormats.controls; let i=index; let isLast=last" class="row">
                    <div class="col">
                        <label [for]="'nameIdFormat-' + i" class="sr-only">
                            <translate-i18n key="label.nameid-format">NameID Format</translate-i18n> {{ i + 1 }}
                        </label>
                        <auto-complete
                            [id]="'nameIdFormat-' + i"
                            [formControlName]="i"
                            [matches]="nameIds$ | async"
                            [required]="true"
                            (onChange)="updateOptions($event)"
                            role="textbox"
                            aria-label="Name ID Format (type for auto-complete)">
                        </auto-complete>
                    </div>
                    <div class="col col-1 text-right">
                        <button class="btn btn-link"
                                (click)="removeFormat(i)"
                                (keydown.space)="removeFormat(i)"
                                (keydown.enter)="removeFormat(i)"
                                aria-label="Delete NameID Format"
                                role="button">
                            <i class="fa fa-fw fa-trash fa-lg text-danger"></i>
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</form>
