<form [formGroup]="form" role="form">
    <div class="row" formGroupName="securityInfo">
        <div class="col-xl-6 form-section">
            <fieldset aria-label="Is there a X509 certificate? Radio choice">
                <div class="form-group">
                    <div class="row">
                        <label for="x509CertificateAvailableRadioGroup">
                            <translate-i18n key="label.is-there-a-x509-certificate">Is there a X509 Certificate?</translate-i18n>
                        </label>&nbsp;
                        <span>
                            <info-icon [description]="'tooltip.authentication-requests-signed' | translate"></info-icon>
                        </span>
                    </div>
                    <div id="x509CertificateAvailableRadioGroup" role="radiogroup" aria-activedescendant="x509CertificateAvailableNo" tabindex="0">
                        <div class="form-check form-check-inline">
                            <input disableValidation="true" class="form-check-input" type="radio" formControlName="x509CertificateAvailable" name="x509CertificateAvailable"
                                [value]="true" id="x509CertificateAvailableTrue" aria-checked="false" role="radio">
                            <label class="form-check-label" translate="label.yes" for="x509CertificateAvailableTrue">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input disableValidation="true" class="form-check-input" type="radio" tabindex="0" formControlName="x509CertificateAvailable"
                                name="x509CertificateAvailable" id="x509CertificateAvailableFalse" [value]="false" aria-checked="true" role="radio">
                            <label class="form-check-label" translate="label.no" for="x509CertificateAvailableFalse">No</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <fieldset aria-label="Should authentication requests be signed? Radio choice">
                    <div class="row">
                        <label for="authenticationRequestsSignedRadioGroup">
                            <translate-i18n key="label.authentication-requests-signed">Authentication Requests Signed?</translate-i18n>
                        </label>&nbsp;
                        <span>
                            <info-icon [description]="'tooltip.authentication-requests-signed' | translate"></info-icon>
                        </span>
                    </div>
                    <div id="authenticationRequestsSignedRadioGroup" role="radiogroup" aria-activedescendant="authenticationRequestsSignedNo" tabindex="0">
                        <div class="form-check form-check-inline">
                            <input disableValidation="true" class="form-check-input" type="radio" tabindex="0" formControlName="authenticationRequestsSigned"
                                name="authenticationRequestsSigned" id="authenticationRequestsSignedTrue" [value]="true" aria-checked="false" role="radio">
                            <label class="form-check-label" translate="label.yes" for="authenticationRequestsSignedTrue">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input disableValidation="true" class="form-check-input" type="radio" tabindex="0" formControlName="authenticationRequestsSigned"
                                name="authenticationRequestsSigned" id="authenticationRequestsSignedFalse" [value]="false" aria-checked="true" role="radio">
                            <label class="form-check-label" translate="label.no" for="authenticationRequestsSignedFalse">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <fieldset aria-label="Do you want the assertions signed? Radio choice">
                    <div class="row">
                        <label>
                            <translate-i18n key="label.want-assertions-signed">Want Assertions Signed?</translate-i18n>
                        </label>&nbsp;
                        <span>
                            <info-icon [description]="'tooltip.want-assertions-signed' | translate"></info-icon>
                        </span>
                    </div>
                    <div id="wantAssertionsSignedRadioGroup" role="radiogroup" aria-activedescendant="wantAssertionsSignedNo" tabindex="0">
                        <div class="form-check form-check-inline">
                            <input disableValidation="true" class="form-check-input" type="radio" tabindex="0" formControlName="wantAssertionsSigned"
                                name="wantAssertionsSigned" id="wantAssertionsSignedTrue" [value]="true" aria-checked="false" role="radio">
                            <label class="form-check-label" translate="label.yes" for="wantAssertionsSignedTrue">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input disableValidation="true" class="form-check-input" type="radio" tabindex="0" formControlName="wantAssertionsSigned"
                                name="wantAssertionsSigned" name="wantAssertionsSigned" id="wantAssertionsSignedFalse" [value]="false" aria-checked="true" role="radio">
                            <label class="form-check-label" translate="label.no" for="wantAssertionsSignedFalse">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <fieldset class="col form-section">
            <p>
                <translate-i18n key="label.x509-certificates">X509 Certificates: </translate-i18n>&nbsp;&nbsp;
                <button class="btn btn-success btn-sm" (click)="addCert()" [disabled]="!(hasCert$ | async)" translate="action.add-certificate" aria-label="Add certificate to accordion group" role="button">Add Certificate</button>
            </p>
            <div formArrayName="x509Certificates" class="bg-light border rounded p-4" *ngIf="x509Certificates.length">
                <ul class="list-group" aria-label="x509 Certificates accordion"  tabindex="0" role="presentation">
                    <li *ngFor="let cert of x509Certificates.controls; let i=index;"
                        [formGroupName]="i"
                        class="list-group-item"
                        [attr.aria-label]="'x509 certificate information accordion item for ' + cert.get('name').value"
                        #acc>
                        <div class="clearfix">
                            <div class="row" (click)="acc.isHidden = !acc.isHidden" (keydown.space)="acc.isHidden = !acc.isHidden" [id]="'certAccordion' + i" aria-expanded="true" [attr.aria-controls]="'certContent' + i" role="button">
                                <div class="col-sm-10">
                                    <i class="fa fa-fw" [ngClass]="{'fa-chevron-right': acc.isHidden, 'fa-chevron-down': !acc.isHidden}"></i>
                                    <span tabindex="0" role="heading" aria-level="3">
                                        <ng-container *ngIf="cert.get('name').value">{{ cert.get('name').value }}</ng-container>
                                        <ng-container *ngIf="!cert.get('name').value" translate="label.new-cert">New Certificate</ng-container>
                                        <small *ngIf="cert.get('type').value">
                                            (<i18n-text [key]="cert.get('type').value"></i18n-text>)
                                        </small>
                                    </span>
                                </div>
                                <div class="col-sm-2 text-right">
                                    <button class="btn btn-link btn-sm text-danger" (click)="removeCert(i)" aria-label="Delete certificate" role="button">
                                        <i class="fa fa-fw fa-trash fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="collapse" [ngClass]="{'show': !acc.isHidden}"  [id]="'certContent' + i" [attr.aria-labelledby]="'certAccordion' + i" role="region">
                            <hr />
                            <div class="form-group">
                                <div class="row">
                                    <label [for]="'name-' + i" class="col-sm-10">
                                        <span>
                                            <translate-i18n key="label.certificate-name-display-only">Certificate Name (Display Only)</translate-i18n>
                                            <i class="fa fa-fw fa-asterisk text-danger" aria-hidden="true"></i>
                                        </span>
                                    </label>
                                    <span class="col-sm-2 text-right">
                                        <info-icon [description]="'tooltip.certificate-name' | translate"></info-icon>
                                    </span>
                                </div>
                                <input [id]="'name-' + i" type="text" class="form-control" placeholder="" formControlName="name" aria-label="x509 certificate name" role="textbox" />
                            </div>
                            <div class="form-group">
                                <fieldset aria-label="What is the type of ceritifcate? Radio choice">
                                    <div class="row">
                                        <label [for]="'type-' + i" class="col-sm-10">
                                            <span>
                                                <translate-i18n key="label.type">Type</translate-i18n>
                                                <i class="fa fa-fw fa-asterisk text-danger" aria-hidden="true"></i>
                                            </span>
                                        </label>
                                        <span class="col-sm-2 text-right">
                                            <info-icon [description]="'tooltip.certificate-type' | translate"></info-icon>
                                        </span>
                                    </div>
                                    <div id="certTypeRadioGroup" role="radiogroup" tabindex="0">
                                        <div *ngFor="let type of types; let t=index;" class="form-check form-check-inline">
                                            <input disableValidation="true" id="type-{{ i }}-{{ t }}" class="form-check-input" type="radio" tabindex="0" formControlName="type"
                                                [value]="type" role="radio">
                                            <label class="form-check-label" for="type-{{ i }}-{{ t }}">
                                                <i18n-text [key]="type"></i18n-text>
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label [for]="'cert-' + i" class="col-sm-10">
                                        <span>
                                            <translate-i18n key="label.certificate">Certificate</translate-i18n>
                                            <i class="fa fa-fw fa-asterisk text-danger" aria-hidden="true"></i>
                                        </span>
                                    </label>
                                    <span class="col-sm-2 text-right">
                                        <info-icon [description]="'tooltip.certificate' | translate"></info-icon>
                                    </span>
                                </div>
                                <textarea [id]="'cert-' + i" class="form-control" placeholder="" formControlName="value" rows="10" [disableDefaults]="true" role="textbox" aria-multiline="true"></textarea>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </fieldset>
    </div>
</form>
