<form [formGroup]="form" role="form">
    <div class="row" formGroupName="mdui">
        <fieldset class="col-xl-6 form-section">
            <div class="form-group">
                <div class="row">
                    <label for="displayName" class="col-sm-10">
                        <translate-i18n key="label.display-name">Display Name</translate-i18n>
                    </label>
                    <span class="col-sm-2 text-right">
                        <info-icon [description]="'tooltip.mdui-display-name' | translate"></info-icon>
                    </span>
                </div>
                <input id="displayName" type="text" class="form-control" placeholder="" formControlName="displayName" role="textbox" />
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="informationUrl" class="col-sm-10">
                        <translate-i18n key="label.information-url">Information URL</translate-i18n>
                    </label>
                    <span class="col-sm-2 text-right">
                        <info-icon [description]="'tooltip.mdui-information-url' | translate"></info-icon>
                    </span>
                </div>
                <input id="informationUrl" type="text" class="form-control" placeholder="" formControlName="informationUrl" role="textbox" />
                <small class="form-text text-danger" *ngIf="form.get('mdui.logoUrl').hasError('pattern')" translate="message.must-be-valid-url">Must be a valid URL</small>
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="description" class="col-sm-10">
                        <translate-i18n key="label.description">Description</translate-i18n>
                    </label>
                    <span class="col-sm-2 text-right">
                        <info-icon [description]="'tooltip.mdui-description' | translate"></info-icon>
                    </span>
                </div>
                <textarea id="description"
                          class="form-control"
                          placeholder=""
                          formControlName="description"
                          rows="5"
                          aria-multiline="true"
                          role="textbox"></textarea>
                <small class="form-text text-secondary">
                    <ng-container>
                        {{ form.get('mdui.description').value ? form.get('mdui.description').value.length : '0' }}
                    </ng-container>
                    /
                    {{ descriptionMaxLength }}
                </small>
            </div>
        </fieldset>
        <fieldset class="col form-section">
            <div class="form-group">
                <div class="row">
                    <label for="privacyStatementUrl" class="col-sm-10">
                        <translate-i18n key="label.privacy-statement-url">Privacy Statement URL</translate-i18n>
                    </label>
                    <span class="col-sm-2 text-right">
                        <info-icon [description]="'tooltip.mdui-privacy-statement-url' | translate"></info-icon>
                    </span>
                </div>
                <input id="privacyStatementUrl" type="text" class="form-control" placeholder="" formControlName="privacyStatementUrl" role="textbox" />
                <small class="form-text text-danger" *ngIf="form.get('mdui.logoUrl').hasError('pattern')" translate="message.must-be-valid-url">Must be a valid URL</small>
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="logoUrl" class="col-sm-10">
                        <translate-i18n key="label.logo-url">Logo URL</translate-i18n>
                    </label>
                    <span class="col-sm-2 text-right">
                        <info-icon [description]="'tooltip.mdui-logo-url' | translate"></info-icon>
                    </span>
                </div>
                <input id="logoUrl" type="text" class="form-control" placeholder="" formControlName="logoUrl" role="textbox" />
                <small class="form-text text-danger" *ngIf="form.get('mdui.logoUrl').hasError('pattern')" translate="message.must-be-valid-url">Must be a valid URL</small>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="row">
                            <label for="logoWidth" class="col-sm-10">
                                <translate-i18n key="label.logo-width">Logo Width</translate-i18n>
                            </label>
                            <span class="col-sm-2 text-right">
                                <info-icon [description]="'tooltip.mdui-logo-width' | translate"></info-icon>
                            </span>
                        </div>
                        <input id="logoWidth" type="number" class="form-control" placeholder="" formControlName="logoWidth" step="1" role="textbox" />
                        <small class="form-text text-secondary" translate="message.must-be-integer">Must be an integer equal to or greater than 0</small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <div class="row">
                            <label for="logoHeight" class="col-sm-10">
                                <translate-i18n key="label.logo-height">Logo Height</translate-i18n>
                            </label>
                            <span class="col-sm-2 text-right">
                                <info-icon [description]="'tooltip.mdui-logo-height' | translate"></info-icon>
                            </span>
                        </div>
                        <input id="logoHeight" type="number" class="form-control" placeholder="" formControlName="logoHeight" step="1" role="textbox" />
                        <small class="form-text text-secondary" translate="message.must-be-integer">Must be an integer equal to or greater than 0</small>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</form>
