<form [formGroup]="form" role="form">
    <div class="row">
        <fieldset class="form-section col-xl-6" formGroupName="organization">
            <div class="form-group">
                <div class="row">
                    <label for="name" class=col-sm-10>
                        <span>
                            <translate key="label.organization-name">Organization Name</translate>
                            <i class="fa fa-fw fa-asterisk text-danger" aria-hidden="true" *ngIf="hasValue$ | async"></i>
                        </span>
                    </label>
                    <span class="col-sm-2 text-right">
                        <ng-template #tooltipOrganizationName >
                            <translate key="tooltip.organization-name">Organization Name Popover</translate>
                        </ng-template>
                        <i class="info-icon fa fa-fw fa-info-circle text-primary fa-lg"
                           [ngbPopover]="tooltipOrganizationName"
                           i18n-aria-label="@@tooltip.instruction"
                           aria-label="Information icon - press spacebar to read additional information for this form field"></i>
                    </span>
                </div>
                <input id="name" type="text" class="form-control" placeholder="" formControlName="name" role="textbox" />
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="displayName" class="col-sm-10">
                        <span>
                            <translate key="label.organization-display-name">Organization Display Name</translate>
                            <i class="fa fa-fw fa-asterisk text-danger" aria-hidden="true" *ngIf="hasValue$ | async"></i>
                        </span>
                    </label>
                    <span class="col-sm-2 text-right">
                        <ng-template #tooltipOrganizationDisplayName>
                            <translate key="tooltip.organization-display-name">Organization Display Name Popover</translate>
                        </ng-template>
                        <i class="info-icon fa fa-fw fa-info-circle text-primary fa-lg"
                            [ngbPopover]="tooltipOrganizationDisplayName"
                            i18n-aria-label="@@tooltip.instruction"
                            aria-label="Information icon - press spacebar to read additional information for this form field"></i>
                    </span>
                </div>
                <input id="displayName" type="text" class="form-control" placeholder="" formControlName="displayName" role="textbox" />
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="url" class="col-sm-10">
                        <span>
                            <translate key="label.organization-url">Organization URL</translate>
                            <i class="fa fa-fw fa-asterisk text-danger" aria-hidden="true" *ngIf="hasValue$ | async"></i>
                        </span>
                    </label>
                    <span class="col-sm-2 text-right">
                        <ng-template #tooltipOrganizationUrl>
                            <translate key="tooltip.organization-url">Organization Url Popover</translate>
                        </ng-template>
                        <i class="info-icon fa fa-fw fa-info-circle text-primary fa-lg"
                            [ngbPopover]="tooltipOrganizationUrl"
                            i18n-aria-label="@@tooltip.instruction"
                            aria-label="Information icon - press spacebar to read additional information for this form field"></i>
                    </span>
                </div>
                <input id="url" type="text" class="form-control" placeholder="" formControlName="url" role="textbox" />
                <small class="form-text text-danger" *ngIf="form.get('organization.url').hasError('pattern')">Must be a valid URL</small>
            </div>
            <p class="text-danger" *ngIf="form.get('organization').hasError('org')" translate="message.organization-feedback">* These three fields must all be entered if any single field has a value.</p>
        </fieldset>
        <fieldset class="form-section col">
            <p>
                <translate key="label.contact-information">Contact Information: </translate>
                <button class="btn btn-success btn-sm" (click)="addContact()" translate="action.add-contact" aria-label="Add contact to accordion group" role="button">Add Contact</button>
            </p>
            <div formArrayName="contacts" class="bg-light border rounded p-4" *ngIf="contacts.length">
                <ul class="list-group" id="contactAccordionGroup" aria-label="Contact information accordion group" role="presentation" tabindex="0">
                    <li *ngFor="let contact of contacts.controls; let i=index;"
                        [formGroupName]="i"
                        class="list-group-item"
                        [attr.aria-label]="'Contact information accordion item for ' + contact.get('name').value"
                        #acc>
                        <div class="clearfix">
                            <div class="row" (click)="acc.isHidden = !acc.isHidden" (keydown.space)="acc.isHidden = !acc.isHidden" [id]="'contactAccordion' + i" [attr.aria-controls]="'contactContent' + i" role="button">
                                <div class="col-sm-10">
                                    <i class="fa fa-fw" [ngClass]="{'fa-chevron-right': acc.isHidden, 'fa-chevron-down': !acc.isHidden}"></i>
                                    {{ contact.get('name').value || 'New Contact' }}
                                    <span tabindex="0" role="heading" aria-level="3">
                                    <small *ngIf="contact.get('type').value">({{ contact.get('type').value }})</small>
                                </span>
                                </div>
                                <div class="col-sm-2 text-right">
                                    <button class="btn btn-link btn-sm text-danger" (click)="removeContact(i)" aria-label="Delete contact button" role="button">
                                        <i class="fa fa-fw fa-trash fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="collapse" [ngClass]="{'show': !acc.isHidden}" [id]="'contactContent' + i" [attr.aria-labelledby]="'contactAccordion' + i" role="region">
                            <hr />
                            <div class="row">
                                <div class="col col-7">
                                    <div class="form-group">
                                        <div class="row">
                                            <label [for]="'name-' + i" class="col-sm-9">
                                                <translate key="label.name">Contact Name</translate>
                                            </label>
                                            <span class="col-sm-3 text-right">
                                                <ng-template #tooltipContactName>
                                                    <translate key="tooltip.contact-name">Contact Name Popover</translate>
                                                </ng-template>
                                                <i class="info-icon fa fa-fw fa-info-circle text-primary fa-lg"
                                                   [ngbPopover]="tooltipContactName"
                                                   i18n-aria-label="@@tooltip.instruction"
                                                   aria-label="Information icon - press spacebar to read additional information for this form field"></i>
                                            </span>
                                        </div>
                                        <input [id]="'name-' + i" type="text" class="form-control" placeholder="" formControlName="name" aria-label="Contact name" role="textbox" />
                                    </div>
                                </div>
                                <div class="col col-5">
                                    <div class="form-group">
                                        <div class="row">
                                            <label [for]="'type-' + i" class="col-sm-10">
                                                <translate key="label.type">Contact Type</translate>
                                            </label>
                                            <span class="col-sm-2 text-right">
                                                <ng-template #tooltipContactType>
                                                    <translate key="tooltip.contact-type">Contact Type Popover</translate>
                                                </ng-template>
                                            <i class="info-icon fa fa-fw fa-info-circle text-primary fa-lg"
                                               [ngbPopover]="tooltipContactType"
                                               i18n-aria-label="@@tooltip.instruction"
                                               aria-label="Information icon - press spacebar to read additional information for this form field"></i>
                                            </span>
                                        </div>
                                        <select [id]="'type-' + i" class="form-control" formControlName="type" aria-label="Contact type dropdown" role="listbox">
                                            <option disabled hidden translate="label.select-contact-type" value>Select Contact Type</option>
                                            <option *ngFor="let opt of contactTypes; let i=index;" [value]="opt" [attr.aria-label]="opt" role="option">
                                                {{ opt }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="row">
                                            <label [for]="'email-' + i" class="col-sm-10">
                                                <translate key="label.email-address">Contact Email Address</translate>
                                            </label>
                                            <span class="col-sm-2 text-right">
                                                <ng-template #tooltipContactEmail>
                                                    <translate key="tooltip.contact-email">Contact Email Popover</translate>
                                                </ng-template>
                                                <i class="info-icon fa fa-fw fa-info-circle text-primary fa-lg"
                                                   [ngbPopover]="tooltipContactEmail"
                                                   i18n-aria-label="@@tooltip.instruction"
                                                   aria-label="Information icon - press spacebar to read additional information for this form field"></i>
                                            </span>
                                        </div>
                                        <input [id]="'email-' + i" type="email" class="form-control" placeholder="" formControlName="emailAddress" role="textbox" />
                                        <small class="form-text text-danger" *ngIf="contact.get('emailAddress').touched && contact.get('emailAddress').hasError('email')">
                                            <translate key="message.valid-email">Must be a valid Email Address</translate>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </fieldset>
    </div>
</form>
