<form [formGroup]="form">
    <fieldset formGroupName="relyingPartyOverrides">
        <div class="form-group">
            <fieldset aria-label="Sign the assertion? Checkbox - select for yes">
                <div class="custom-control custom-checkbox custom-control-inline custom-control-reverse">
                    <input disableValidation="true" type="checkbox" class="custom-control-input" formControlName="signAssertion" id="signAssertion"
                        [value]="true" role="checkbox" aria-checked="false">
                    <label class="custom-control-label" translate="label.sign-the-assertion" for="signAssertion">Sign the Assertion</label>
                </div>
                <info-icon [description]="'tooltip.sign-assertion' | translate"></info-icon>
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset aria-label="Don't sign the response? Checkbox - select for yes">
                <div class="custom-control custom-checkbox custom-control-inline custom-control-reverse">
                    <input disableValidation="true" type="checkbox" class="custom-control-input" formControlName="dontSignResponse" id="dontSignResponse"
                        [value]="true" role="checkbox" aria-checked="false">
                    <label class="custom-control-label" translate="label.dont-sign-the-response" for="dontSignResponse">Don't Sign the Response</label>
                </div>
                <info-icon [description]="'tooltip.dont-sign-response' | translate"></info-icon>
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset aria-label="Turn off encrytpion of response? Checkbox - select for yes">
                <div class="custom-control custom-checkbox custom-control-inline custom-control-reverse">
                    <input disableValidation="true" type="checkbox" class="custom-control-input" formControlName="turnOffEncryption" id="turnOffEncryption"
                        [value]="true" role="checkbox" aria-checked="false">
                    <label class="custom-control-label" translate="label.turn-off-encryption-of-response" for="turnOffEncryption">Turn Off Encryption of Response</label>
                </div>
                <info-icon [description]="'tooltip.turn-off-encryption' | translate"></info-icon>
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset aria-label="Use SHA1 signing algorithm? Checkbox - select for yes">
                <div class="custom-control custom-checkbox custom-control-inline custom-control-reverse">
                    <input disableValidation="true" type="checkbox" class="custom-control-input" formControlName="useSha" [value]="true" id="useSha"
                        role="checkbox" aria-checked="false">
                    <label class="custom-control-label" translate="label.use-sha1-signing-algorithm" for="useSha">Use SHA1 Signing Algorithm</label>
                </div>
                <info-icon [description]="'tooltip.usa-sha-algorithm' | translate"></info-icon>
            </fieldset>
        </div>
        <div formArrayName="nameIdFormats" class="form-group">
            <div class="row">
                <span class="col-sm-10">
                    <translate-i18n key="label.nameid-format-to-send">NameID Format to Send</translate-i18n>
                    &nbsp;
                    <button class="btn btn-success btn-sm" (click)="addFormat()" translate="action.add-nameid-format" aria-label="Add nameID format"
                        role="button">Add NameID Format</button>
                </span>
                <span class="col-sm-2 text-right">
                    <info-icon [description]="'tooltip.nameid-format' | translate"></info-icon>
                </span>
            </div>
            <div *ngIf="nameIdFormatList.length" class="p-2">
                <div class="row mb-2" *ngFor="let format of nameIdFormatList.controls; let i=index; let isLast=last">
                    <div class="col-sm-11 d-flex">
                        <label [for]="'nameIdFormat-' + i" class="p-2">
                            <translate-i18n key="label.nameid-format" class="sr-only">NameID Format</translate-i18n>
                            {{ i + 1 }}.
                        </label>
                        <auto-complete class="flex-grow-1" [id]="'nameIdFormat-' + i" [fieldId]="'nameIdFormat-' + i" [formControlName]="i"
                            [matches]="nameIds$ | async" [required]="true" (onChange)="searchNameIds($event)" aria-label="Name ID Format (type for auto-complete)">
                        </auto-complete>
                    </div>
                    <div class="col-sm-1 text-right">
                        <button class="btn btn-link" (click)="removeFormat(i)" aria-label="Delete NameID format" role="button">
                            <i class="fa fa-fw fa-trash fa-lg text-danger"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div formArrayName="authenticationMethods" class="form-group">
            <div class="row">
                <span class="col-sm-10">
                    <translate-i18n key="label.authentication-methods-to-use">Authentication Methods to Use</translate-i18n>
                     &nbsp;
                    <button class="btn btn-success btn-sm" (click)="addAuthenticationMethod()" translate="action.add-authentication-method" aria-label="Add authentication method"
                        role="button">Add Authentication Method</button>
                </span>
                <span class="col-sm-2 text-right">
                    <info-icon [description]="'tooltip.authentication-methods-to-use' | translate"></info-icon>
                </span>
            </div>
            <div *ngIf="authenticationMethodList.length" class="p-2">
                <div class="row mb-2" *ngFor="let format of authenticationMethodList.controls; let i=index; let isLast=last">
                    <div class="col-sm-11 d-flex">
                        <label [for]="'authMethod-' + i" class="p-2">
                            <translate-i18n key="label.auth-method-indexed" class="sr-only">Authentication Method</translate-i18n> {{ i + 1 }}.
                        </label>
                        <auto-complete class="flex-grow-1" [id]="'authMethod-' + i" [fieldId]="'authMethod-' + i" [formControlName]="i" [matches]="authenticationMethods$ | async"
                            [required]="true" (onChange)="searchAuthMethods($event)" aria-label="Authentication method (type for auto-complete)">
                        </auto-complete>
                    </div>
                    <div class="col-sm-1 text-right">
                        <button class="btn btn-link" (click)="removeAuthenticationMethod(i)" aria-label="Delete authentication method" role="button">
                            <i class="fa fa-fw fa-trash fa-lg text-danger"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <fieldset aria-label="Ignore any SP-related authentiation method? Checkbox - select for yes">
                <div class="custom-control custom-checkbox custom-control-inline custom-control-reverse">
                    <input disableValidation="true" type="checkbox" class="custom-control-input" formControlName="ignoreAuthenticationMethod"
                        [value]="true" id="ignoreAuthenticationMethod" role="checkbox" aria-checked="false">
                    <label class="custom-control-label" translate="label.ignore-any-sp-requested-authentication-method" for="ignoreAuthenticationMethod">Ignore any SP-Requested Authentication Method</label>
                </div>
                <info-icon [description]="'tooltip.ignore-auth-method' | translate"></info-icon>
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset aria-label="Force Authn? Checkbox - select for yes">
                <div class="custom-control custom-checkbox custom-control-inline custom-control-reverse">
                    <input disableValidation="true" type="checkbox" class="custom-control-input" formControlName="forceAuthn"
                        [value]="true" id="forceAuthn" role="checkbox" aria-checked="false">
                    <label class="custom-control-label" translate="label.force-authn" for="forceAuthn">
                        Force AuthN
                    </label>
                </div>
                <info-icon [description]="'tooltip.force-authn' | translate"></info-icon>
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset aria-label="Omit not before condition? Checkbox - select for yes">
                <div class="custom-control custom-checkbox custom-control-inline custom-control-reverse">
                    <input disableValidation="true" type="checkbox" class="custom-control-input" formControlName="omitNotBefore" [value]="true"
                        id="omitNotBefore" role="checkbox" aria-checked="false">
                    <label class="custom-control-label" translate="label.omit-not-before-condition" for="omitNotBefore">Omit Not Before Condition</label>
                </div>
                <info-icon [description]="'tooltip.omit-not-before-condition' | translate"></info-icon>
            </fieldset>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="responderId" class="col-sm-10">
                    <translate-i18n key="label.responder-id">ResponderID</translate-i18n>
                </label>
                <span class="col-sm-2 text-right">
                    <info-icon [description]="'tooltip.responder-id' | translate"></info-icon>
                </span>
            </div>
            <input id="responderId" class="form-control" type="text" formControlName="responderId" role="textbox">
        </div>
    </fieldset>
</form>
