<section *ngIf="provider$ | async" class="section" [attr.aria-label]="'Edit metadata provider - ' + (provider$ | async).name"
    tabindex="0">
    <div class="section-header bg-info p-2 text-white">
        <div class="row justify-content-between">
            <div class="col-md-12">
                <span class="display-6">
                    <i class="fa fa-fw fa-gears"></i> <translate-i18n key="label.edit-metadata-provider">Edit Metadata Provider</translate-i18n> - {{ (provider$ | async).name }}
                </span>
            </div>
        </div>
    </div>
    <div class="section-body p-4 border border-top-0 border-info">
        <div class="row">
            <div class="col-6 d-lg-none order-1">
                <provider-editor-nav
                    [format]="formats.DROPDOWN">
                </provider-editor-nav>
            </div>
            <div class="col-6 col-lg-12 order-2 text-right">
                <a [routerLink]="['../', 'filter', 'new']"
                    class="btn btn-success">
                    <i class="fa fa-plus-circle"></i>
                    <translate-i18n key="action.add-filter">Add Filter</translate-i18n>
                </a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-3 d-none d-lg-block">
                <provider-editor-nav
                    [format]="formats.TABS">
                </provider-editor-nav>
            </div>
            <div class="col-lg-9">
                <table class="table table-striped table-hover">
                    <thead class="">
                        <tr>
                            <th></th>
                            <th></th>
                            <th translate="label.filter-name">Filter Name</th>
                            <th translate="label.filter-type">Filter Type</th>
                            <th translate="label.filter-enabled">Enabled?</th>
                            <th translate="action.edit">Edit</th>
                            <th translate="action.delete">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let filter of filters$ | async; let i = index; first as isFirst; last as isLast;">
                            <td class="td-sm">
                                <button class="btn btn-link" (click)="updateOrderUp(filter)" [disabled]="isFirst">
                                    <i class="fa fa-arrow-circle-up fa-lg sr-hidden"></i>
                                    <span class="sr-only" translate="action.move-up">Move Up</span>
                                </button>
                                <button class="btn btn-link" (click)="updateOrderDown(filter)" [disabled]="isLast">
                                    <i class="fa fa-arrow-circle-down fa-lg sr-hidden"></i>
                                    <span class="sr-only" translate="action.move-up">Move Down</span>
                                </button>
                            </td>
                            <td class="td-xs">{{ i + 1 }}</td>
                            <td class="td-lg">{{ filter.name }}</td>
                            <td class="td-lg">{{ filter['@type'] }}</td>
                            <td class="td-sm">
                                <button class="btn btn-link" (click)="toggleEnabled(filter)" [disabled]="isSaving$ | async">
                                    <i class="fa fa-lg sr-hidden "
                                        [ngClass]="{
                                            'fa-check-square text-success': filter.filterEnabled,
                                            'fa-square-o text-dark': !filter.filterEnabled
                                        }"></i>
                                    <span class="sr-only" *ngIf="!filter.filterEnabled" translate="action.enable">Enable</span>
                                    <span class="sr-only" *ngIf="filter.filterEnabled" translate="action.disable">Disable</span>
                                </button>
                                <i class="fa fa-spinner fa-pulse fa-lg fa-fw" *ngIf="isSaving$ | async"></i>
                            </td>
                            <td class="td-sm">
                                <a class="btn btn-link"
                                    [class.disabled]="isSaving$ | async"
                                    [routerLink]="['../', 'filter', filter.resourceId, 'edit']">
                                    <i class="fa fa-edit fa-lg sr-hidden text-info"></i>
                                    <span class="sr-only" translate="action.edit">Edit</span>
                                </a>
                            </td>
                            <td class="td-sm">
                                <button class="btn btn-link" (click)="remove(filter.resourceId)">
                                    <i class="fa fa-trash fa-lg sr-hidden text-danger"></i>
                                    <span class="sr-only" translate="action.edit">Delete</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
