<section *ngIf="provider$ | async" class="section" [attr.aria-label]="'Edit metadata provider - ' + (provider$ | async).name"
    tabindex="0">
    <div class="section-header bg-info p-2 text-white">
        <div class="row justify-content-between">
            <div class="col-md-12">
                <span class="display-6">
                    <i class="fa fa-fw fa-gears"></i> <translate-i18n key="label.edit-metadata-provider">Edit Metadata Provider</translate-i18n> - {{ (provider$ | async).name }}
                </span>
            </div>
        </div>
    </div>
    <div class="section-body p-4 border border-top-0 border-info">
        <div class="row">
            <div class="col-6 d-lg-none order-1">
                <editor-nav
                    [format]="formats.DROPDOWN"
                    [status]="[]">
                    <a class="dropdown-item"
                        [routerLink]="['../', 'filters']"
                        routerLinkActive="active"
                        [attr.aria-label]="'label.filter-list' | translate"
                        role="button">
                        <translate-i18n key="label.filter-list"></translate-i18n>
                    </a>
                </editor-nav>
            </div>
            <div class="col-6 col-lg-12 order-2 text-right">
                <a [routerLink]="['../', 'filter', 'new']"
                    class="btn btn-success">
                    <i class="fa fa-plus-circle"></i>
                    <translate-i18n key="action.add-filter">Add Filter</translate-i18n>
                </a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-3 d-none d-lg-block">
                <editor-nav
                    [format]="formats.TABS"
                    [status]="[]">
                    <a class="nav-link"
                        [routerLink]="['../', 'filters']"
                        routerLinkActive="active"
                        [attr.aria-label]="'label.filter-list' | translate"
                        role="button">
                        <translate-i18n key="label.filter-list"></translate-i18n>
                    </a>
                </editor-nav>
            </div>
            <div class="col-lg-9" *ngIf="filters$ | async">
                <filter-list
                    [filters]="filters$ | async"
                    [disabled]="isSaving$ | async"
                    (onUpdateOrderUp)="updateOrderUp($event)"
                    (onUpdateOrderDown)="updateOrderDown($event)"
                    (onRemove)="remove($event)"
                    (onToggleEnabled)="toggleEnabled($event)">
                </filter-list>
            </div>
        </div>
    </div>
</section>
