<ng-container *ngIf="definition$ | async">
    <div class="alert alert-danger d-flex justify-content-between font-weight-bold mb-3" *ngIf="(step$ | async).locked">
        <span class="d-flex justify-content-between">
            <toggle-switch id="toggle" [formControl]="lock"></toggle-switch>
            <span class="p-1">{{ lock.value ? 'Locked' : 'Unlocked' }}</span>
        </span>
        <span class="p-1">For Advanced Knowledge Only</span>
    </div>
    <sf-form
        [schema]="schema$ | async"
        [model]="model$ | async"
        [validators]="validators$ | async"
        [bindings]="bindings$ | async"
        (onChange)="valueChangeSubject.next($event)"
        (onErrorChange)="statusChangeSubject.next($event)"></sf-form>
</ng-container>