<div class="container-fluid p-3" role="navigation">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link"
                [routerLink]="['./', 'metadata', 'manager', 'resolvers']"
                routerLinkActive="active">
                <translate-i18n key="label.metadata-sources">Metadata Sources</translate-i18n>
            </a>
        </li>
        <li class="nav-item" *ngIf="isAdmin$ | async">
            <a class="nav-link"
                [routerLink]="['./', 'metadata', 'manager', 'providers']"
                routerLinkActive="active">
                <translate-i18n key="label.metadata-providers">Metadata Providers</translate-i18n>
            </a>
        </li>
        <li class="nav-item" *ngIf="isAdmin$ | async">
            <a class="nav-link"
                [routerLink]="['./', 'admin', 'management']"
                routerLinkActive="active">
                <translate-i18n key="label.admin">Admin</translate-i18n>
            </a>
        </li>
        <li class="nav-item" *ngIf="isAdmin$ | async">
            <a class="nav-link"
                [routerLink]="['./', 'admin', 'actions']"
                routerLinkActive="active">
                <translate-i18n key="label.action-required">Action Required</translate-i18n>
                <ng-container *ngIf="hasActions$">
                    &nbsp;
                    <span class="badge badge-pill badge-danger">{{ actionsRequired$ | async }}</span>
                </ng-container>
            </a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>