<div class="modal-header">
    <h4 class="modal-title"><translate-i18n key="message.delete-filter-title">Delete Metadata Filter?</translate-i18n></h4>
</div>
<div class="modal-body">
    <p><translate-i18n key="message.delete-filter-body">You are deleting a metadata filter. This cannot be undone. Continue?</translate-i18n></p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="this.activeModal.close()"><translate-i18n key="action.delete">Delete</translate-i18n></button>
    <button type="button" class="btn btn-secondary" (click)="this.activeModal.dismiss()"><translate-i18n key="action.cancel">Cancel</translate-i18n></button>
</div>