<div class="modal-header">
    <h4 class="modal-title" translate="message.delete-filter-title">Delete Metadata Filter?</h4>
</div>
<div class="modal-body">
    <p translate="message.delete-filter-body">You are deleting a metadata filter. This cannot be undone. Continue?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="this.activeModal.close()" translate="action.delete">Delete</button>
    <button type="button" class="btn btn-secondary" (click)="this.activeModal.dismiss()" translate="action.cancel">Cancel</button>
</div>