<div class="modal-header">
    <h4 class="modal-title" i18n="@@message--delete-source-title">Delete Metadata Filter?</h4>
</div>
<div class="modal-body">
    <p i18n="@@message--delete-source-body">You are deleting a metadata filter. This cannot be undone. Continue?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="this.activeModal.close()" i18n="@@action--delete">Delete</button>
    <button type="button" class="btn btn-secondary" (click)="this.activeModal.dismiss()" i18n="@@action--cancel">Cancel</button>
</div>