<div class="mb-3" *ngIf="property">
    <ng-container [ngSwitch]="property.type">
        <ng-container *ngSwitchDefault>
            <ng-container *ngIf="property.name">
                <strong class="text-primary d-block" role="term" [translate]="property.name">{{ property.name }}</strong>
                <span class="d-block" role="definition">{{ property.value || property.value === false ? property.value : '-' }}</span>
            </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'object'">
            <ng-container *ngIf="property.name">
                <span class="text-primary d-block" role="term" [translate]="property.name">{{ property.name }}</span>
            </ng-container>
            <ng-container *ngIf="property.properties">
                <summary-property *ngFor="let prop of property.properties" [property]="prop"></summary-property>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
