@mixin component-validation-state($state, $color) {
    &.is-#{$state} {
        input {
            border-color: $color;

            &:focus {
                border-color: $color;
                box-shadow: 0 0 0 $input-focus-width rgba($color, .25);
            }

            ~ .#{$state}-feedback,
            ~ .#{$state}-tooltip {
                display: block;
            }
        }
    }
}