<table class="table">
    <caption class="sr-only">Metadata Version History</caption>
    <thead>
        <tr>
            <th scope="col"><span class="sr-only">Select Version</span></th>
            <th scope="col">Version</th>
            <th scope="col">Save Date</th>
            <th scope="col">Changed By</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let version of history.versions; index as i;">
            <td>
                <div class="custom-control custom-checkbox" (click)="toggleVersionSelected(version)">
                    <input [title]="'check-' + i" type="checkbox" class="custom-control-input" [checked]="selected.indexOf(version) > -1">
                    <label class="custom-control-label" [for]="'check-' + i">
                        <span class="sr-only">Check to select</span>
                    </label>
                </div>
            </td>
            <td *ngIf="i === 0">Current (v{{ version.versionNumber }})</td>
            <td *ngIf="i > 0">v{{ version.versionNumber }}</td>
            <td>{{ version.saveDate | date }}</td>
            <td>{{ version.changedBy }}</td>
            <td>
                <button class="btn btn-link" (click)="restoreVersion(version)">
                    <i class="fa fa-undo"></i>
                    Restore
                </button>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" (click)="compareSelected(selected)" [disabled]="!selected.length">
    Compare Selected <span *ngIf="selected.length">({{ selected.length }})</span>
</button>