<div class="row">
    <div class="col col-xl-6 col-lg-9 col-xs-12">
        <form [formGroup]="providerForm" role="form">
            <ul class="nav nav-wizard m-3">
                <li class="nav-item">
                    <h3 class="tag tag-primary">
                        <span class="index">1</span>
                        <ng-container i18n="@@label--name-and-entityid">1. Name and EntityId</ng-container>
                    </h3>
                </li>
                <li class="nav-item">
                    <button class="nav-link next btn clearfix" (click)="next()" [disabled]="providerForm.invalid" aria-label="Next: Step 2, Organization information" role="button">
                        <span class="label pull-left">
                            2.
                            <ng-container i18n="@@label--org-info">Organization Information</ng-container>
                        </span>
                        <span class="direction pull-right">
                            <i class="fa fa-fw fa-arrow-circle-right d-block fa-2x"></i>
                            <ng-container i18n="@@action--next">Next</ng-container>
                        </span>
                    </button>
                </li>
            </ul>
            <fieldset class="bg-light border rounded p-4">
                <div class="form-group">
                    <label for="serviceProviderName">
                        <ng-container i18n="@@label--service-provider-name-dashboard-display-only">Service Provider Name (Dashboard Display Only)</ng-container>
                        <i class="fa fa-fw fa-asterisk text-danger" aria-hidden="true"></i>
                    </label>
                    <input id="serviceProviderName" type="text" class="form-control" placeholder="" formControlName="serviceProviderName" />
                    <ng-container *ngIf="providerForm.get('serviceProviderName').touched && providerForm.get('serviceProviderName').invalid">
                        <small class="form-text text-danger" *ngIf="providerForm.get('serviceProviderName').hasError('required')">
                            <ng-container i18n="@@message--service-provider-name-required">Service Provider Name is required</ng-container>
                        </small>
                    </ng-container>
                </div>
                <div class="form-group">
                    <label for="entityId">
                        <ng-container i18n="@@label--service-provider-entity-id">Service Provider Entity ID</ng-container>
                        <i class="fa fa-fw fa-asterisk text-danger" aria-hidden="true"></i>
                    </label>
                    <input id="entityId" type="text" class="form-control" placeholder="" formControlName="entityId" />
                    <ng-container *ngIf="providerForm.get('entityId').touched && providerForm.get('entityId').invalid">
                        <small class="form-text text-danger" *ngIf="providerForm.get('entityId').hasError('required')">
                            <ng-container i18n="@@message--entity-id-required">Entity ID is required</ng-container>
                        </small>
                    </ng-container>
                    <small class="form-text text-danger" *ngIf="providerForm.get('entityId').hasError('unique')">
                        <ng-container i18n="@@message--entity-id-must-be-unique">Entity ID must be unique</ng-container>
                    </small>
                </div>
                <button type="submit" class="btn btn-primary sr-only" [disabled]="providerForm.invalid">
                    <ng-container i18n="@@action--next">Next</ng-container>
                    <i class="fa fa-fw fa-arrow-circle-right fa-lg"></i>
                </button>
            </fieldset>
        </form>
    </div>
</div>
