<div class="container-fluid p-3" role="main">
    <section class="section" aria-label="Add a new metadata source - how are you adding the metadata information?" tabindex="0">
        <div class="section-header bg-info p-2 text-white">
            <div class="row justify-content-between">
                <div class="col-md-12">
                    <span class="display-6" i18n="@@label--add-a-new-metadata-source">Add a new metadata source - Finish Summary</span>
                </div>
            </div>
        </div>
        <div class="section-body p-4 border border-top-0 border-info">
            <ul class="nav nav-wizard m-3">
                <li class="nav-item">
                    <button class="nav-link previous btn clearfix" role="button" routerLink="/new/copy">
                        <span class="direction pull-left">
                            <i class="fa fa-arrow-circle-left d-block fa-2x"></i>
                            <ng-container i18n="@@action--back">Back</ng-container>
                        </span>
                        <span class="label pull-right" i18n="@@label--name-and-entityid">
                            Name and Entity ID.
                        </span>
                    </button>
                </li>
                <li class="nav-item">
                    <h3 class="tag tag-primary">
                        <span class="index"><i class="fa fa-check fa-lg"></i></span>
                        <ng-container i18n="@@label--finish-summary-validation">FINISH SUMMARY AND VALIDATION</ng-container>
                    </h3>
                </li>
                <li class="nav-item">
                    <button class="nav-link save btn" aria-label="Save" role="button" (click)="onSave(provider)" [disabled]="saving$ | async">
                        <span class="label pull-left" i18n="@@action--save">Save</span>
                        <span class="direction pull-right">
                            <i class="fa fa-save next d-block fa-2x"></i>
                            <ng-container i18n="@@action--save">Save</ng-container>
                        </span>
                    </button>
                </li>
            </ul>
            <finish-form [provider]="values$ | async"></finish-form>
        </div>
    </section>
</div>
