<form [formGroup]="providerForm">
    <ul class="nav nav-wizard m-3">
        <li class="nav-item">
            <h3 class="tag tag-primary">
                <span class="index">1</span>
                <ng-container i18n="@@label--name-and-upload-url">1. Name and Upload Url</ng-container>
            </h3>
        </li>
        <li class="nav-item">
            <button class="nav-link next btn clearfix" (click)="save()" [disabled]="providerForm.invalid" aria-label="Save metadata provider" role="button">
                <span class="label pull-left" i18n="@@action--save">
                    Save
                </span>
                <span class="direction pull-right">
                    <i class="fa fa-save d-block fa-2x"></i>
                    <ng-container i18n="@@action--save">Save</ng-container>
                </span>
            </button>
        </li>
    </ul>
    <fieldset class="bg-light border rounded p-4">
        <div class="form-group">
            <label for="serviceProviderName">
                <ng-container i18n="@@label--service-provider-name-dashboard-display-only">Service Provider Name (Dashboard Display Only)</ng-container>
                <i class="fa fa-asterisk text-danger" aria-hidden="true"></i>
            </label>
            <input id="serviceProviderName" type="text" class="form-control" placeholder="" formControlName="serviceProviderName" />
            <ng-container *ngIf="providerForm.get('serviceProviderName').touched && providerForm.get('serviceProviderName').invalid">
                <small class="form-text text-danger"
                    *ngIf="providerForm.get('serviceProviderName').hasError('required')"
                    i18n="@@message--service-provider-name-required">
                    Service Provider Name is required
                </small>
            </ng-container>
        </div>
        <div class="form-group">
            <label i18n="@@label--service-provider-file" for="fileInput">Select Provider Metadata File</label>
            <div class="custom-file d-block">
                <input id="fileInput" type="file" name="file" class="custom-file-input" (change)="fileChange($event)" />
                <label for="fileInput" class="custom-file-label">
                    <span *ngIf="!providerForm.get('file').value" class="custom-file-control" i18n="@@action--choose-file">Choose File</span>
                    <span *ngIf="providerForm.get('file').value" class="custom-file-control" i18n="@@action--choose-file">{{ providerForm.get('file').value }}</span>
                </label>
            </div>
        </div>
        <div class="text-center">
            &mdash;
            <ng-container i18n="@@label--or">OR</ng-container>
            &mdash;
        </div>
        <div class="form-group">
            <label i18n="@@label--service-provider-metadata-url" for="url">Service Provider Metadata URL</label>
            <input id="url" type="text" class="form-control" placeholder="" formControlName="url" />
        </div>
        <div class="alert alert-danger" role="alert">
            <span i18n="@@alert--file-upload-alert">Note: You can only import a file with a single entityID (EntityDescriptor element) in it. Anything more in that file will result in an error.</span>
        </div>
    </fieldset>
</form>
