<div class="container-fluid p-3">
    <section class="section" aria-label="Add a new metadata source - how are you adding the metadata information?" tabindex="0">
        <div class="section-header bg-info p-2 text-white">
            <div class="row justify-content-between">
                <div class="col-md-12">
                    <span class="display-6" translate="label.add-a-new-metadata-source">Add a new metadata source - Finish Summary</span>
                </div>
            </div>
        </div>
        <div class="section-body p-4 border border-top-0 border-info">
            <ul class="nav nav-wizard m-3">
                <li class="nav-item">
                    <button class="nav-link previous btn clearfix" [routerLink]="['../']">
                        <span class="direction pull-left">
                            <i class="fa fa-fw fa-arrow-circle-left d-block fa-2x"></i>
                            <translate-i18n key="action.back">Back</translate-i18n>
                        </span>
                        <span class="label pull-right" translate="label.name-and-entityid">
                            Name and Entity ID.
                        </span>
                    </button>
                </li>
                <li class="nav-item">
                    <h3 class="tag tag-primary">
                        <span class="index"><i class="fa fa-fw fa-check"></i></span>
                        <translate-i18n key="label.finish-summary-validation">Finished!</translate-i18n>
                    </h3>
                </li>
                <li class="nav-item">
                    <button class="nav-link save btn" aria-label="Save" (click)="onSave(resolver)" [disabled]="saving$ | async">
                        <span class="label pull-left" translate="action.save">Save</span>
                        <span class="direction pull-right">
                            <i class="fa fa-fw next d-block fa-2x"
                                [ngClass]="{
                                    'fa-save': !(saving$ | async),
                                    'fa-spinner fa-pulse': (saving$ | async)
                                }"></i>
                            <translate-i18n key="action.save">Save</translate-i18n>
                        </span>
                    </button>
                </li>
            </ul>
            <finish-form [resolver]="values$ | async"></finish-form>
        </div>
    </section>
</div>
