<div class="container-fluid p-3" role="main">
    <section class="section" aria-label="Add a new metadata source - how are you adding the metadata information?" tabindex="0">
        <div class="section-header bg-info p-2 text-white">
            <div class="row justify-content-between">
                <div class="col-md-12">
                    <span class="display-6" i18n="@@label--add-a-new-metadata-resolver">Add a new metadata source</span>
                </div>
            </div>
        </div>
        <div class="section-body p-4 border border-top-0 border-info">
            <h3 i18n="@@label--how-are-you-adding-the-metadata-information">How are you adding the metadata information?</h3>
            <br />
            <div class="row">
                <div class="col col-xl-6 col-lg-9 col-xs-12">
                    <div class="d-flex justify-content-between">
                        <div class="resolver-nav-option">
                            <button type="button"
                                class="btn btn-lg btn-block btn-secondary"
                                aria-label="Upload local metadata file or use a metadata URL"
                                role="button"
                                routerLink="upload"
                                routerLinkActive="btn-success">
                                <ng-container i18n="@@label--upload-url">Upload/URL</ng-container>
                                <i class="fa fa-link fa-2x d-block"></i>
                            </button>
                        </div>
                        <div class="">
                            <span class="subheading-1">&nbsp;<ng-container i18n="@@label--or">or</ng-container>&nbsp;</span>
                        </div>
                        <div class="resolver-nav-option">
                            <button type="button"
                                class="btn btn-lg btn-block btn-secondary"
                                aria-label="Create metadata source using the wizard"
                                role="button"
                                routerLink="blank"
                                routerLinkActive="btn-info">
                                <ng-container i18n="@@action--create">Create</ng-container>
                                <i class="fa fa-plus-square fa-2x d-block"></i>
                            </button>
                        </div>
                        <div class="">
                            <span class="subheading-1">&nbsp;<ng-container i18n="@@label--or">or</ng-container>&nbsp;</span>
                        </div>
                        <div class="resolver-nav-option">
                            <button type="button"
                                class="btn btn-lg btn-block btn-secondary"
                                aria-label="Copy a metadata source"
                                role="button"
                                routerLink="copy"
                                routerLinkActive="btn-warning">
                                <ng-container i18n="@@action--copy">Copy</ng-container>
                                <i class="fa fa-copy fa-2x d-block"></i>
                            </button>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </section>
</div>
