@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.dropdown.form-group {
    margin-bottom: 0px;
}

.dropdown-menu {
    min-width: 100%;
    width: auto;
}

:host {
    .btn-outline-secondary {
        border-color: $input-border-color;
    }
}