@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "../../../theme/palette";

.dropdown.form-group {
    margin-bottom: 0px;
}

.dropdown-menu {
    min-width: 100%;
    width: auto;
}

:host {
    position: relative;
    display: block;

    .btn-outline-secondary {
        border-color: $input-border-color;
    }

    &.is-invalid {
        input.form-control {
            border-color: $brand-danger;
        }
    }

    &.is-valid {
        input.form-control {
            border-color: $brand-success;
        }
    }
}