<div [ngClass]="{'input-group': dropdown}">
    <input
        #inputField
        [formControl]="input"
        [disableValidation]="true"
        [id]="fieldId"
        class="form-control"
        autocomplete="off"
        autocorrect="off"
        aria-autocomplete="list"
        role="combobox"
        type="text"
        [placeholder]="placeholder"
        [attr.aria-activedescendant]="activeDescendant"
        [attr.aria-owns]="fieldId + '__listbox'"
        [attr.aria-expanded]="(menuIsVisible$ | async) ? 'true' : 'false'"
        [attr.aria-haspopup]="fieldId + '__listbox'"
        (focus)="handleInputFocus()"
        (blur)="handleInputBlur()"
    />
    <div class="input-group-append" *ngIf="dropdown">
        <button class="btn btn-outline-secondary"
            type="button"
            role="button"
            aria-haspopup="true"
            [attr.aria-expanded]="state.currentState.menuOpen"
            [attr.aria-activedescendant]="activeDescendant"
            [attr.aria-owns]="fieldId + '__listbox'"
            [attr.aria-expanded]="(menuIsVisible$ | async) ? 'true' : 'false'"
            (click)="handleDropdown($event)">
            <i class="fa fa-caret-down"></i>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
    </div>
</div>
<div class="dropdown-menu"
    [id]="fieldId + '__listbox'"
    role="listbox"
    [class.show]="(menuIsVisible$ | async) && !processing && !input.disabled">
    <button *ngFor="let option of matches; let i = index;"
        #matchElement
        class="dropdown-item"
        [class.active]="state.currentState.selected === i"
        [class.focused]="state.currentState.focused === i"
        [id]="this.getOptionId(i)"
        (focusout)="handleOptionBlur($event, i)"
        (click)="handleOptionClick(i)"
        (mousedown)="handleOptionMouseDown($event)"
        (mouseenter)="handleOptionMouseEnter(i)"
        (mouseout)="handleOptionMouseOut()"
        tabindex="0"
        role="option"
        [attr.aria-selected]="state.currentState.focused === i"
        [attr.aria-label]="this.input.value"
        [innerHTML]="option | highlight:this.input.value">
    </button>
    <p class="dropdown-item dropdown-item-noresults"
        role="option"
        *ngIf="matches && matches.length === 0 && !processing">
        {{ noneFoundText }}
    </p>
</div>
