<ng-container [ngSwitch]="key">
    <ng-container *ngSwitchDefault>{{ key }}</ng-container>
    <ng-container *ngSwitchCase="'metadata-ui'"><translate-i18n key="label.ui-mdui-info">User Interface / MDUI Information</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'descriptor-info'"><translate-i18n key="label.sp-sso-descriptor-info">SP SSO Descriptor Information</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'logout-endpoints'"><translate-i18n key="label.logout-endpoints">Logout Endpoints</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'key-info'"><translate-i18n key="label.security-info">Security Information</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'assertion'"><translate-i18n key="label.assertion-consumer-services">Assertion Consumer Service</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'relying-party'"><translate-i18n key="label.relying-party-overrides">Relying Party Overrides</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'attribute'"><translate-i18n key="label.attribute-release">Attribute Release</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'sp-org-info'"><translate-i18n key="label.sp-org-info">SP/Organization Information</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'org-info'"><translate-i18n key="label.org-info">Organization Information</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'finish'"><translate-i18n key="label.finished">Finished!</translate-i18n></ng-container>
    
    <ng-container *ngSwitchCase="'signing'"><translate-i18n key="label.signing">Signing</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'encryption'"><translate-i18n key="label.encryption">Encryption</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'both'"><translate-i18n key="label.both">Both</translate-i18n></ng-container>
    
    <ng-container *ngSwitchCase="'spSsoDescriptorInfo'"><translate-i18n key="label.sp-sso-descriptor-info">SP SSO Descriptor Information</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'organizationInfo'"><translate-i18n key="label.sp-sso-descriptor-info">Organization Information</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'uiMduiInfo'"><translate-i18n key="label.ui-mdui-info">User Interface / MDUI Information</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'securityDescriptorInfo'"><translate-i18n key="label.security-descriptor-info">Security Descriptor Information</translate-i18n></ng-container>
    
    <ng-container *ngSwitchCase="'entityId'"><translate-i18n key="label.entity-id">Entity ID</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'serviceProviderName'"><translate-i18n key="label.service-provider-name">Service Provider Name</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'organization'"><translate-i18n key="label.organization">Organization</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'contacts'"><translate-i18n key="label.contacts">Contacts</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'mdui'"><translate-i18n key="label.mdui">MDUI Information</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'securityInfo'"><translate-i18n key="label.security-info">Security Information</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'assertionConsumerServices'"><translate-i18n key="label.assertion-consumer-services">Assertion Consumer Services</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'serviceProviderSsoDescriptor'"><translate-i18n key="label.service-provider-sso-descriptor">Service Provider Sso Descriptor</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'logoutEndpoints'"><translate-i18n key="label.logout-endpoints">Logout Endpoints</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'serviceEnabled'"><translate-i18n key="label.service-enabled">Service Enabled</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'relyingPartyOverrides'"><translate-i18n key="label.relying-party-overrides">Relying Party Overrides</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'attributeRelease'"><translate-i18n key="label.attribute-release">Attribute Release</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'filterName'"><translate-i18n key="label.filter-name">Filter Name</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'filterEnabled'"><translate-i18n key="label.filter-enabled">Filter Enabled</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'filterTarget'"><translate-i18n key="label.filter-target">FilterTarget</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'name'"><translate-i18n key="label.name">Name</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'type'"><translate-i18n key="label.type">Type</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'value'"><translate-i18n key="label.value">Value</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'emailAddress'"><translate-i18n key="label.email-address">Email Address</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'url'"><translate-i18n key="label.url">URL</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'bindingType'"><translate-i18n key="label.binding-type">Binding Type</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'displayName'"><translate-i18n key="label.display-name">Display Name</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'informationUrl'"><translate-i18n key="label.information-url">Information URL</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'privacyStatementUrl'"><translate-i18n key="label.privacy-statement-url">Privacy Statement URL</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'logoUrl'"><translate-i18n key="label.logo-url">Logo URL</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'logoHeight'"><translate-i18n key="label.logo-height">Logo Height</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'logoWidth'"><translate-i18n key="label.logo-width">Logo Width</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'description'"><translate-i18n key="label.description">Description</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'signAssertion'"><translate-i18n key="label.sign-assertion">Sign Assertions</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'dontSignResponse'"><translate-i18n key="label.dont-sign-response">Don't Sign Response</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'turnOffEncryption'"><translate-i18n key="label.turn-off-encryption">Turn off encryption</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'useSha'"><translate-i18n key="label.use-sha">Use Sha</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'ignoreAuthenticationMethod'"><translate-i18n key="label.ignore-authentication-method">Ignore Authentication Method</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'omitNotBefore'"><translate-i18n key="label.omit-not-before">Omit Not Before</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'responderId'"><translate-i18n key="label.responder-id">Responder ID</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'nameIdFormats'"><translate-i18n key="label.name-id-formats">Name ID Formats</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'authenticationMethods'"><translate-i18n key="label.authentication-methods">Authentication Methods</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'x509CertificateAvailable'"><translate-i18n key="label.x509-certificate-available">x509 Certificate Available</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'authenticationRequestsSigned'"><translate-i18n key="label.authentication-requests-signed">Authentication Requests Signed</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'wantAssertionsSigned'"><translate-i18n key="label.want-assertions-signed">Want Assertions Signed</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'x509Certificates'"><translate-i18n key="label.x509-certificates">x509 Certificates</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'protocolSupportEnum'"><translate-i18n key="label.protocol-support-enum">Protocol Support Enumeration</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'nameIdFormats'"><translate-i18n key="label.name-id-formats">Name ID Formats</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'binding'"><translate-i18n key="label.binding">Binding</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'locationUrl'"><translate-i18n key="label.location-url">Location URL</translate-i18n></ng-container>
    <ng-container *ngSwitchCase="'makeDefault'"><translate-i18n key="label.make-default">Make Default</translate-i18n></ng-container>
</ng-container>
