<fieldset [attr.aria-label]="schema.description" tabindex="0">
    <legend *ngIf="schema.title" [translate]="schema.title">{{ schema.title }}</legend>
    <table class="table table-striped table-sm">
        <thead>
            <tr class="table-secondary">
                <th translate="label.attribute-name">Attribute Name</th>
                <th translate="label.yes">Yes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let attr of data | async; let i=index;">
                <td scope="col">{{ attr.label | translate }}</td>
                <td scope="col">
                    <fieldset>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox"
                                class="custom-control-input"
                                (change)="onCheck(attr.key)"
                                [checked]="checked[attr.key]"
                                id="input-{{ i }}"
                                [attr.name]="attr.label | translate"
                                [attr.aria-label]="attr.label | translate"
                                role="checkbox"
                                aria-checked="false"
                            />
                            <label class="custom-control-label" for="input-{{ i }}">
                                <span class="sr-only">
                                    <translate-i18n key="action.toggle">Toggle</translate-i18n> {{ attr.label | translate }}
                                </span>
                            </label>
                        </div>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td scope="col" translate="label.check-all-attributes">Check All Attributes</td>
                <td scope="col">
                    <button class="btn btn-text text-success btn-sm" (click)="onCheckAll()">
                        <i class="fa fa-fw fa-check"></i>
                        <span class="sr-only" translate="label.check-all-attributes">Check All Attributes</span>
                    </button>
                </td>
            </tr>
            <tr>
                <td scope="col" translate="label.clear-all-attributes">Clear All Attributes</td>
                <td scope="col">
                    <button class="btn btn-text text-danger btn-sm" (click)="onCheckNone()">
                        <i class="fa fa-fw fa-times"></i>
                        <span class="sr-only" translate="label.clear-all-attributes">Clear All Attributes</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>