<fieldset [attr.aria-label]="schema.description" tabindex="0">
    <legend *ngIf="schema.title">{{ schema.title }}</legend>
    <table class="table table-striped table-sm">
        <thead>
            <tr class="table-secondary">
                <th i18n="@@label--attribute-name">Attribute Name</th>
                <th i18n="@@label--yes">Yes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let attr of schema.widget.data; let i=index;">
                <td scope="col">{{ attr.label }}</td>
                <td scope="col">
                    <fieldset>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox"
                                class="custom-control-input"
                                (change)="onCheck(attr.key)"
                                [checked]="checked[attr.key]"
                                id="input-{{ i }}"
                                [attr.name]="attr.label"
                                [attr.aria-label]="attr.label"
                                role="checkbox"
                                aria-checked="false"
                            />
                            <label class="custom-control-label" for="input-{{ i }}"></label>
                        </div>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td scope="col" i18n="@@label--check-all-attributes">Check All Attributes</td>
                <td scope="col">
                    <button class="btn btn-text text-success btn-sm" (click)="onCheckAll()">
                        <i class="fa fa-fw fa-check"></i>
                        <span class="sr-only" i18n="@@label--check-all-attributes">Check All Attributes</span>
                    </button>
                </td>
            </tr>
            <tr>
                <td scope="col" i18n="@@label--clear-all-attributes">Clear All Attributes</td>
                <td scope="col">
                    <button class="btn btn-text text-danger btn-sm" (click)="onCheckNone()">
                        <i class="fa fa-fw fa-times"></i>
                        <span class="sr-only" i18n="@@label--clear-all-attributes">Clear All Attributes</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>