<div class="widget form-group">
    <ng-container *ngIf="schema.type !== 'array'">
        <div class="d-flex justify-content-start">
            <div class="custom-control custom-checkbox custom-control-inline custom-control-reverse"
                [id]="formProperty._canonicalPath + '.parent'">
                <input [formControl]="control"
                    class="custom-control-input"
                    [attr.name]="name"
                    [indeterminate]="control.value !== false && control.value !== true ? true :null"
                    type="checkbox"
                    [attr.disabled]="schema.readOnly?true:null"
                    [id]="formProperty._canonicalPath"
                    [disableValidation]="true">
                <label [attr.for]="formProperty._canonicalPath" class="custom-control-label" [translate]="schema.title">
                    {{ schema.title }}
                </label>
            </div>
            <div>
                <info-icon [description]="schema.description | translate"></info-icon>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="schema.type === 'array'">
        <div *ngFor="let option of schema.items.oneOf; let i = index;" class="checkbox">
            <label class="horizontal control-label" [attr.for]="formProperty._canonicalPath">
                <input
                    [id]="formProperty._canonicalPath + '.' + i"
                    [attr.name]="name" 
                    [value]="option.enum[0]"
                    type="checkbox"
                    [attr.disabled]="schema.readOnly?true:null"
                    (change)="onCheck($event.target)"
                    [attr.checked]="checked[option.enum[0]] ? true : null">
                <translate-i18n [key]="option.description">{{ option.description }}</translate-i18n>
            </label>
        </div>
    </ng-container>
</div>
