<form [formGroup]="form" role="form">
    <div class="row" *ngIf="resolver">
        <fieldset class="col-xl-6 form-section">
            <section class="entity-section">
                <div class="form-group">
                    <div class="custom-control custom-checkbox custom-control-inline custom-control-reverse">
                        <input class="custom-control-input" type="checkbox" id="serviceEnabled" formControlName="serviceEnabled">
                        <label class="custom-control-label"
                            translate="label.enable-this-service"
                            for="serviceEnabled">Enable this service?</label>
                    </div>
                    <info-icon [description]="'tooltip.enable-this-service-upon-saving' | translate"></info-icon>
                </div>
            </section>
        </fieldset>
    </div>
</form>
