<nav *ngIf="currentPage">
    <ul class="nav nav-wizard">
        <li class="nav-item" *ngIf="!isFirstPage">
            <button class="nav-link previous btn clearfix" (click)="onPrevious.emit(previousPage.index)" [disabled]="wizardIsInvalid$ | async" [attr.aria-label]="previousPage.path" role="button">
                <span class="direction pull-left">
                    <i class="fa fa-fw fa-arrow-circle-left d-block fa-2x"></i>
                    <translate key="action.back">Back</translate>
                </span>
                <span class="label pull-right">
                    {{ previousPage.index }}. <i18n-text [key]="previousPage.path"></i18n-text>
                </span>
            </button>
        </li>
        <li class="nav-item" *ngIf="!isLastPage">
            <h3 class="tag tag-primary">
                <span class="index">{{ currentPage.index }}</span>
                <i18n-text [key]="currentPage.path"></i18n-text>
            </h3>
        </li>
        <li class="nav-item" *ngIf="isLastPage">
            <h3 class="tag tag-primary">
                <span class="index"><i class="fa fa-check"></i></span>
                <i18n-text [key]="currentPage.path"></i18n-text>
            </h3>
        </li>
        <li class="nav-item" *ngIf="!isLastPage">
            <button class="nav-link next btn clearfix" (click)="onNext.emit(nextPage.index)" [disabled]="wizardIsInvalid$ | async" [attr.aria-label]="nextPage.path" role="button">
                <span class="label pull-left">
                    {{ nextPage.index }}. <i18n-text [key]="nextPage.path"></i18n-text>
                </span>
                <span class="direction pull-right">
                    <i class="fa fa-fw fa-arrow-circle-right d-block fa-2x"></i>
                    <translate key="action.next">Next</translate>
                </span>
            </button>
        </li>
        <li class="nav-item" *ngIf="isLastPage">
            <button class="nav-link save btn"
                (click)="onSave.emit()"
                [disabled]="wizardIsSaving$ | async"
                aria-label="Save"
                role="button">
                <span class="label pull-left" translate="action.save">Save</span>
                <span class="direction pull-right">
                    <i class="fa fa-fw next d-block fa-2x"
                        [ngClass]="{
                            'fa-save': !(wizardIsSaving$ | async),
                            'fa-spinner': (wizardIsSaving$ | async),
                            'fa-pulse': (wizardIsSaving$ | async)
                        }"></i>
                    <translate key="action.save">Save</translate>
                </span>
            </button>
        </li>
    </ul>
</nav>
