<div class="modal-header">
    <h4 class="modal-title" translate="message.delete-user-title">Delete User?</h4>
</div>
<div class="modal-body">
    <div class="d-flex w-100 justify-content-start">
        <i class="fa fa-fw fa-exclamation-triangle fa-3x text-danger"></i>
        <p class="ml-2" translate="message.delete-user-body">You are requesting to delete a user. If you complete this process the user will be removed. This cannot be undone. Do you wish to continue?</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="this.activeModal.close()" translate="action.delete">Delete</button>
    <button type="button" class="btn btn-secondary" (click)="this.activeModal.dismiss()" translate="action.cancel">Cancel</button>
</div>