@import '../../../theme/palette';

.card {
    background-color: rgba($light-grey, 0.5);
    &:focus {
        outline: -webkit-focus-ring-color auto 5px;
    }
    .btn-link {
        &:focus {
            outline: -webkit-focus-ring-color auto 5px;
        }
    }

    .label-icon {
        display: inline-block;
        min-width: 64px;
        text-align: center;
    }
}
