<ng-template #tooltipContent>
    <span #content [attr.aria-label]="description" [id]="id">{{ description }}</span>
</ng-template>
<button class="btn btn-nostyle info-icon"
    #toggle="ngbPopover"
    [attr.aria-label]="'tooltip.instruction' | translate"
    [ngbPopover]="tooltipContent"
    [triggers]="triggers"
    [placement]="placement"
    container="body">
    <i class="fa fa-fw fa-info-circle text-primary fa-lg"></i>
    <span class="sr-only" translate="tooltip.instruction"></span>
</button>
