:host {
    .table {
        .td-sm {
            max-width: 100px;
        }
        .td-xs {
            max-width: 20px;
        }
        .td-lg {
            width: 30%;
        }

        td {
            vertical-align: middle;
        }
    }
}