<div *ngIf="property.items.type === 'object'" [ngClass]="{'bg-diff': property.differences}">
    <div class="p-2" role="term" [translate]="property.name">{{ property.name }}</div>
    <div *ngFor="let item of range; let i = index;" class="py-2 border-top" ngClass="{'bg-diff': !property.differences}">
        <div *ngFor="let prop of getKeys(property.items); let n = index;" class="d-flex py-2">
            <div [ngStyle]="{'width': width}" class="pl-4">
                <span [translate]="property.items.properties[prop].title">{{ property.items.properties[prop].title }}</span>
            </div>
            <ng-container *ngFor="let version of property.value">
                <div *ngIf="version && version[i]"
                    [ngbPopover]="version[i][prop]"
                    triggers="mouseenter:mouseleave"
                    container="body"
                    [ngStyle]="{'width': width}"
                    class="text-truncate"
                    popoverClass="popover-lg popover-info">
                    {{ version[i][prop] }}
                </div>
                <div *ngIf="!version || !version[i]" [ngStyle]="{'width': width}">
                    -
                </div>
            </ng-container>
        </div>
    </div>
</div>
<ng-container *ngIf="property.items.type === 'string'" [ngSwitch]="getItemType(property)">
    <ng-container *ngSwitchCase="'datalist'">
        <ng-template [ngTemplateOutlet]="listref"></ng-template>
    </ng-container>
    <ng-container *ngSwitchCase="'select'">
        <ng-template [ngTemplateOutlet]="listref"></ng-template>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <div *ngIf="!property.widget || !property.widget.id">
            <ng-template [ngTemplateOutlet]="listref"></ng-template>
        </div>
        <div *ngIf="property.widget && property.widget.data">
            <div *ngFor="let item of dataList"
                class="d-flex justify-content-start border-bottom border-light"
                [ngClass]="{'bg-diff': property.differences && item.differences}">
                <span class="p-2" role="term" [translate]="item.label" [ngStyle]="{'width': width}">{{ item.label }}</span>
                <div *ngFor="let v of property.value"
                    class="py-2"
                    [ngStyle]="{'width': width}">
                    <span *ngIf="v && v.indexOf(item.key) > -1" translate="value.true">
                        true
                    </span>
                    <span *ngIf="!v || !(v.indexOf(item.key) > -1)" translate="value.false">
                        false
                    </span>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>
<ng-template #listref>
    <div class="d-flex align-items-start border-bottom border-light" [ngClass]="{'bg-diff': property.differences}">
        <span class="p-2" role="term" [translate]="property.name" [ngStyle]="{'width': width}">{{ property.name }}</span>
        <ng-container *ngFor="let v of property.value">
            <p [ngStyle]="{'width': width}" class="text-secondary m-0" *ngIf="!v || !v.length">-</p>
            <ul [ngStyle]="{'width': width}"
                class="list-unstyled py-2 m-0"
                [ngbPopover]="popContent"
                triggers="mouseenter:mouseleave"
                popoverClass="popover-lg popover-info"
                *ngIf="v && v.length > 0">
                <li *ngFor="let item of v; odd as isOdd; last as isLast"
                    class="text-truncate border-bottom border-light"
                    [ngClass]="{'py-2': v.length > 1, 'border-0': isLast}">
                    <ng-container *ngIf="preview.observers.length > 0 && isUrl(item)">
                        <button class="btn btn-link" (click)="preview.emit(item)">
                            <i class="fa fa-eye fa-lg text-success"></i>
                        </button>&nbsp;
                    </ng-container>
                    {{ item }}
                </li>
            </ul>
            <ng-template #popContent>
                <ul class="list-unstyled">
                    <li *ngFor="let item of v;" class="p-2 border-bottom border-light">
                        {{ item }}
                    </li>
                </ul>
            </ng-template>
        </ng-container>
    </div>
</ng-template>