<ng-container *ngFor="let prop of property.properties">
    <ng-container [ngSwitch]="prop.type">
        <primitive-property *ngSwitchDefault [property]="prop" [columns]="columns"></primitive-property>
        <array-property *ngSwitchCase="'array'" [property]="prop" [columns]="columns"></array-property>
        <ng-container *ngSwitchCase="'object'">
            <ng-container *ngIf="!prop.widget || !prop.widget.id || prop.widget.id !=='filter-target'">
                <h5 class="border-bottom py-2 mb-0 mt-3" *ngIf="prop.name">{{ prop.name | translate }}</h5>
                <object-property [property]="prop" [columns]="columns"></object-property>
            </ng-container>
            <filter-target-property *ngIf="prop.widget && prop.widget.id && prop.widget.id ==='filter-target'"
                [property]="prop"
                [parent]="property"
                [columns]="columns"
                (preview)="preview.emit($event)">
            </filter-target-property>
        </ng-container>
    </ng-container>
</ng-container>
