<div class="modal-header">
    <h4 class="modal-title">
        <ng-container i18n="@@label--preview-filter">Preview Filter XML</ng-container>
    </h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close modal" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <pre>{{ filter$ | async | json }}</pre>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()" i18n="@@action--cancel">Cancel</button>
</div>