<section role="dialog" aria-label="Search filter modal" tabindex="0">
    <div class="modal-header">
        <h4 class="modal-title">
            <ng-container i18n="@@label--search-entity-id">Search Entity Id</ng-container>
             ({{ source }})
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close modal" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="form-row">
                <div class="form-group col-9">
                    <input type="text"
                        formControlName="search"
                        class="form-control"
                        aria-label="Entity ID search text box"
                    />
                    <small class="form-text text-muted" i18n="@@label--min-4-chars">
                        Minimum 4 characters.
                    </small>
                </div>
                <div class="form-group col-3">
                    <button class="btn btn-primary btn-block"
                        (click)="search(form.get('search').value)"
                        aria-label="Search Entity ID"
                        [ngSwitch]="loading$ | async"
                        [disabled]="form.get('search').invalid">
                        <i class="fa fa-search" *ngSwitchDefault></i>
                        <i class="fa fa-spinner fa-pulse fa-fw" *ngSwitchCase="true"></i>
                        <ng-container i18n="@@action--search">Search</ng-container>
                    </button>
                </div>
            </div>
        </form>
        <div class="list-group list-group-flush scrolled my-2" id="list-tab" role="tablist" tabindex="0">
            <a href=""
                *ngFor="let item of matches$ | async"
                class="list-group-item list-group-item-action p-1"
                [class.active]="item === selected"
                (click)="$event.preventDefault(); selected = item;"
                role="menuitem"
                [innerHTML]="item | highlight:this.form.get('search').value"></a>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="activeModal.close(selected)">
            <i class="fa fa-save"></i>
            <ng-container i18n="@@action--select-id">Select ID</ng-container>
        </button>
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()" i18n="@@action--cancel">Cancel</button>
    </div>
</section>
