<section class="section">
    <div class="section-body border border-top-0 border-primary">
        <div class="section-header bg-primary p-2 text-light">
            <div class="row justify-content-between">
                <div class="col-12">
                    <span class="lead" i18n="@@label--current-metadata-sources">Current Metadata Providers</span>
                </div>
            </div>
        </div>
        <div class="p-3">
            <a *ngFor="let provider of providers$ | async"
                [routerLink]="['/', 'metadata', 'provider', provider.resourceId, 'edit']">
                {{ provider.name }}
            </a>
        </div>
    </div>
</section>



