<section class="section">
    <div class="section-body border border-top-0 border-primary">
        <div class="section-header bg-primary p-2 text-light">
            <div class="row justify-content-between">
                <div class="col-12">
                    <span class="lead"><translate-i18n key="label.current-metadata-providers">Current Metadata Providers</translate-i18n></span>
                </div>
            </div>
        </div>
        <div class="p-3">
            <provider-search
                class="w-50 d-block"
                [query]="searchQuery$ | async"
                [searching]="loading$ | async"
                (search)="search($event)">
            </provider-search>
            <div class="table-responsive mt-3" *ngIf="limited$ | async;">
                <table class="table table-striped w-100 table-hover table-providers">
                    <thead>
                        <th><translate-i18n key="label.order">Order</translate-i18n></th>
                        <th class="w-25"><translate-i18n key="label.title">Title</translate-i18n></th>
                        <th class="w-15"><translate-i18n key="label.provider-type">Provider Type</translate-i18n></th>
                        <th class="w-15"><translate-i18n key="label.author">Author</translate-i18n></th>
                        <th class="w-15"><translate-i18n key="label.creation-date">Created Date</translate-i18n></th>
                        <th class="text-right w-15"><translate-i18n key="label.enabled">Enabled</translate-i18n></th>
                    </thead>
                    <tbody infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll($event)">
                        <tr *ngFor="let provider of limited$ | async; index as i; first as isFirst; last as isLast;">
                            <td>
                                <div class="d-flex align-items-center">
                                    <div *ngIf="!(isSearching$ | async)" class="provider-index text-center text-primary font-weight-bold">{{ i + 1 }}</div>
                                    <div *ngIf="(isSearching$ | async)" class="provider-index text-center text-primary font-weight-bold">&mdash;</div>
                                    &nbsp;
                                    <button class="btn btn-link px-1"
                                        (click)="updateOrderDown(provider); $event.stopPropagation();"
                                        [disabled]="isLast || (isSearching$ | async)"
                                        aria-label="Decrease reorder by 1">
                                        <i class="fa text-info fa-lg fa-chevron-circle-down" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-link  px-1"
                                        (click)="updateOrderUp(provider); $event.stopPropagation();"
                                        [disabled]="isFirst || (isSearching$ | async)"
                                        aria-label="Increase reorder by 1">
                                        <i class="fa text-info fa-lg fa-chevron-circle-up" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <a [routerLink]="['/', 'metadata', 'provider', provider.id, 'configuration', 'options']">{{ provider.name }}</a>
                            </td>
                            <td>{{ provider['@type'] }}</td>
                            <td>{{ provider.createdBy }}</td>
                            <td>{{ provider.createdDate | customDate }}</td>
                            <td class="text-right">
                                <span tabindex="0"
                                    class="badge"
                                    [attr.aria-label]="(provider.enabled ? 'value.enabled' : 'value.disabled') | translate"
                                    [class.badge-danger]="!provider.enabled"
                                    [class.badge-success]="provider.enabled">
                                    {{ (provider.enabled ? 'value.enabled' : 'value.disabled') | translate }}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
