<section class="section">
    <div class="section-body border border-top-0 border-primary">
        <div class="section-header bg-primary p-2 text-light">
            <span class="lead"><translate-i18n key="label.current-metadata-sources">Current Metadata Sources</translate-i18n></span>
        </div>
        <div class="p-3">
            <provider-search
                class="w-50 d-block"
                [query]="searchQuery$ | async"
                [searching]="loading$ | async"
                (search)="search($event)">
            </provider-search>
            <resolvers-list
                [entities]="limited$ | async"
                (delete)="deleteResolver($event)"
                (scroll)="onScroll()"></resolvers-list>
        </div>
    </div>
</section>
