<section class="section">
    <div class="section-body border border-top-0 border-primary">
        <div class="section-header bg-primary p-2 text-light">
            <div class="row justify-content-between">
                <div class="col-md-8">
                    <span class="lead" translate="label.current-metadata-sources">Current Metadata Sources</span>
                </div>
                <div class="col-md-4">
                    <provider-search
                        [query]="searchQuery$ | async"
                        [searching]="loading$ | async"
                        (search)="search($event)">
                    </provider-search>
                </div>
            </div>
        </div>
        <div class="p-3">
            <ul class="list-unstyled m-0">
                <li *ngFor="let resolver of limited$ | async; index as i"
                    [ngClass]="{'mt-2': i > 0}"
                    aria-label="Provider Item Accordion. Press Spacebar to open">
                    <resolver-item
                        [entity]="resolver"
                        [isOpen]="(entitiesOpen$ | async)[resolver.getId()]"
                        (select)="edit(resolver)"
                        (toggle)="toggleEntity(resolver)"
                        (preview)="openPreviewDialog(resolver)"
                        (delete)="deleteResolver(resolver)"
                        [allowDelete]="resolver.isDraft()">
                    </resolver-item>
                </li>
            </ul>
            <div class="mt-3 clearfix" *ngIf="(total$ | async) > limit">
                <ngb-pagination
                    class="float-right"
                    [collectionSize]="total$ | async"
                    [page]="page"
                    [pageSize]="limit"
                    (pageChange)="changePage($event)"
                    aria-label="Pages">
                </ngb-pagination>
            </div>
        </div>
    </div>
</section>
