<section class="section">
    <div class="section-body border border-top-0 border-primary">
        <div class="section-header bg-primary p-2 text-light">
            <div class="row justify-content-between">
                <div class="col-12">
                    <span class="lead" translate="label.current-metadata-sources">Current Metadata Providers</span>
                </div>
            </div>
        </div>
        <div class="p-3">
            <ul class="list-unstyled m-0">
                <li *ngFor="let provider of providers$ | async; index as i; first as isFirst; last as isLast;"
                    [class.mt-2]="i > 0">
                    <provider-item
                        [index]="i + 1"
                        [first]="isFirst"
                        [last]="isLast"
                        [provider]="provider"
                        [isOpen]="(providersOpen$ | async)[provider.resourceId]"
                        (select)="edit(provider)"
                        (viewFilters)="gotoFilters(provider)"
                        (toggle)="toggleEntity(provider)"
                        (changeOrderUp)="updateOrderUp($event)"
                        (changeOrderDown)="updateOrderDown($event)">
                    </provider-item>
                </li>
            </ul>
        </div>
    </div>
</section>
