<section class="section">
    <div class="section-body border border-top-0 border-primary">
        <div class="section-header bg-primary p-2 text-light">
            <div class="row justify-content-between">
                <div class="col-12">
                    <span class="lead" translate="label.admin-management">User Maintenance</span>
                </div>
            </div>
        </div>
        <div class="p-3">
            <table class="table table-striped">
                <thead class="thead-primary">
                    <tr>
                        <th scope="col">UserId</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Delete?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users$ | async">
                        <th>{{ user.username }}</th>
                        <td>{{ user.firstName }} {{ user.lastName }}</td>
                        <td>{{ user.emailAddress }}</td>
                        <td>
                            <select [name]="user.username" [ngModel]="user.role.name" class="form-control" (change)="setUserRole(user, $event.target.value)">
                                <option *ngFor="let role of roles$ | async" [value]="role.name">{{ role.name }}</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-link" (click)="deleteUser(user.username)">
                                <span class="sr-only">Delete User</span>
                                <i class="fa fa-trash fa-lg text-danger"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>