<div class="widget form-group">
    <div class="d-flex justify-content-start">
        <label [attr.for]="id" class="m-0 pt-1 control-label">
            <translate-i18n [key]="schema.title">{{ schema.title }}</translate-i18n>
        </label>
        &nbsp;
        <button (click)="addItem()" class="btn btn-success btn-sm array-add-button">
            <translate-i18n key="action.add">Add</translate-i18n> &nbsp;
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        &nbsp;
        <span class="text-right" *ngIf="schema.description">
            <ng-template #tooltip>
                <translate-i18n [key]="schema.description">{{ schema.description }}</translate-i18n>
            </ng-template>
            <i class="info-icon fa fa-fw fa-info-circle text-primary fa-lg" [ngbPopover]="tooltip"
                [attr.aria-label]="'tooltip.instruction' | translate"></i>
        </span>
    </div>
    <div *ngFor="let itemProperty of formProperty.properties; let i=index; trackBy:trackByIndex" class="mt-2">
        <div class="d-flex justify-content-between">
            <sf-form-element class="flex-grow-1" [formProperty]="itemProperty"></sf-form-element>
            <div class="py-2">
                <button class="btn btn-link pt-1" (click)="removeItem(i)" role="button">
                    <i class="fa fa-fw fa-trash fa-lg text-danger"></i>
                    <span class="sr-only" translate="action.remove">Remove</span>
                </button>
            </div>
        </div>
    </div>
    <span *ngIf="schema.description" class="sr-only">
        <translate-i18n [key]="schema.description">{{ schema.description }}</translate-i18n>
    </span>
</div>