<div class="widget form-group">
    <div class="d-flex justify-content-start">
        <label [attr.for]="id" class="m-0 pt-1 control-label">
            <translate-i18n [key]="schema.title">{{ schema.title }}</translate-i18n>
        </label>
        &nbsp;&nbsp;
        <button (click)="addItem()" class="btn btn-success btn-sm array-add-button">
            <translate-i18n key="action.add">Add</translate-i18n>&nbsp;&nbsp;
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        &nbsp;
        <span class="text-right" *ngIf="schema.description">
            <info-icon [description]="schema.description | translate"></info-icon>
        </span>
        <small class="form-text text-danger px-2" *ngIf="hasErrors">
            <ng-container *ngFor="let error of errors$ | async; let first=first;">
                <ng-container *ngIf="!first">, </ng-container>
                <translate-i18n [key]="messages[error.code]">{{ error.message }}</translate-i18n>
            </ng-container>
        </small>
    </div>
    <ul class="mt-2 no-style d-flex justify-content-between flex-wrap">
        <li *ngFor="let itemProperty of formProperty.properties; let i=index; trackBy:trackByIndex" class="w-50">
            <div class="d-flex flex-row justify-content-between m-3">
                <div class="flex-grow-1 bg-light border rounded p-3">
                    <sf-form-element class="" [formProperty]="itemProperty"></sf-form-element>
                    <div class="py-2 text-right">
                        <button class="btn btn-danger" (click)="removeItem(i)" role="button">
                            <i class="fa fa-fw fa-trash fa-lg"></i>
                            <span translate="action.remove">Remove</span>
                        </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <span *ngIf="schema.description" class="sr-only">
        <translate-i18n [key]="schema.description">{{ schema.description }}</translate-i18n>
    </span>
</div>