<div class="card">
    <div class="card-header" (click)="toggle.emit(entity)" (keydown.space)="toggle.emit(entity)" tabindex="0">
        <div class="row">
            <div class="col-9 clearfix">
                <div class="w-10 pr-3 pull-left">
                    <i class="fa fa-fw fa-3x text-primary" [class.fa-caret-right]="!isOpen" [class.fa-caret-down]="isOpen"></i>
                    &nbsp;
                    <span class="label-icon sr-hidden" [ngSwitch]="entity.kind">
                        <i class="fa fa-fw fa-3x text-info fa-cubes" *ngSwitchCase="types.FILTER"></i>
                        <i class="fa fa-fw fa-3x text-info fa-cube" *ngSwitchCase="types.PROVIDER"></i>
                        <i class="fa fa-fw fa-3x text-info fa-" *ngSwitchDefault></i>
                    </span>
                </div>
                <div>
                    {{ entity.name }}
                    <i *ngIf="!entity.isDraft()" class="fa fa-fw" [ngClass]="{
                                    'fa-check-circle text-success': entity.enabled,
                                    'fa-times-circle text-danger': !entity.enabled
                                }"></i>
                    <span *ngIf="entity.isDraft()" class="badge badge-warning" i18n="@@warning--incomplete-form" aria-label="Warning Badge: Incomplete Form">Incomplete Form</span>
                    <small class="d-block">{{ entity.getId() }}</small>
                </div>
            </div>
            <div class="col-3 text-right">
                <button class="btn btn-link" (click)="preview.emit(entity)" *ngIf="!entity.isDraft()" aria-label="Review the XML of the selected service provider">
                    <i class="fa fa-fw fa-eye fa-2x"></i>
                </button>
                <button class="btn btn-link" (click)="select.emit(entity)" aria-label="Edit selected service provider">
                    <i class="fa fa-fw fa-edit fa-2x"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="collapse" [ngClass]="{'show': isOpen}">
        <div class="card-body" tabindex="0">
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        <div class="col text-right font-weight-bold" i18n="@@label--service-provider">
                            {entity.kind, select, filter {Filter} provider {Service Provider} other {other}} Name:
                        </div>
                        <div class="col">{{ entity.name }}</div>
                        <div class="col text-right font-weight-bold" i18n="@@label--created-date">Created Date:</div>
                        <div class="col" *ngIf="!entity.isDraft()">{{ entity.getCreationDate() | date:'medium' }}</div>
                        <div class="col" *ngIf="entity.isDraft()"> &mdash; </div>
                    </div>
                    <div class="row">
                        <div class="col text-right font-weight-bold" i18n="@@label--service-entity-id">
                            {entity.kind, select, filter {Filter} provider {Service Provider} other {other}} Entity ID:
                        </div>
                        <div class="col">{{ entity.getId() }}</div>
                        <div class="col text-right font-weight-bold" i18n="@@label--service-provider-status">
                            {entity.kind, select, filter {Filter} provider {Service Provider} other {other}} Status:
                        </div>
                        <div class="col" *ngIf="!entity.isDraft()">
                            <i class="fa fa-fw" [ngClass]="{
                                'fa-check-circle text-success': entity.enabled,
                                'fa-times-circle text-danger': !entity.enabled
                            }"></i>
                            <span *ngIf="entity.enabled" i18n="@@value--enabled">Enabled</span>
                            <span *ngIf="!entity.enabled" i18n="@@value--disabled">Disabled</span>
                        </div>
                        <div class="col" *ngIf="entity.isDraft()">
                            <span class="badge badge-warning" i18n="@@warning--incomplete-form">Incomplete Form</span>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button *ngIf="entity.isDraft() && entity.kind === types.RESOLVER"
                        class="btn btn-link pull-right"
                        (click)="delete.emit(entity)"
                        aria-label="Delete selected service provider">
                        <i class="fa fa-fw fa-trash fa-2x text-danger"></i>
                    </button>
                </div>
            </div>
        
        </div>
    </div>
</div>
