<form [formGroup]="searchForm">
    <div class="input-group">
        <label [for]="search" class="sr-only" translate="action.search">Search</label>
        <input
            id="search"
            type="text"
            tabindex="0"
            class="form-control"
            [placeholder]="'label.search-files' | translate"
            aria-label="To search for a source, enter name then press enter"
            formControlName="search"
            role="textbox"
            (keyup)="search.emit($event.target.value)">
        <div class="input-group-append">
            <button class="btn btn-link"
                type="button"
                tabindex="0"
                aria-label="Clear search text field"
                (click)="search.emit('')"
                translate="action.clear">Clear</button>
        </div>
    </div>
</form>
