<div class="card">
    <div class="card-header" (click)="toggle.emit(entity)" (keydown.space)="toggle.emit(entity)" tabindex="0">
        <div class="row">
            <div class="col-8 clearfix">
                <div class="w-10 pr-3 pull-left">
                    <i class="fa fa-fw fa-3x text-primary" [class.fa-caret-right]="!isOpen" [class.fa-caret-down]="isOpen"></i>
                    &nbsp;
                    <span class="label-icon sr-hidden" [ngSwitch]="entity.kind">
                        <i class="fa fa-fw fa-3x text-info fa-cubes" *ngSwitchCase="types.FILTER"></i>
                        <i class="fa fa-fw fa-3x text-info fa-cube" *ngSwitchCase="types.RESOLVER"></i>
                        <i class="fa fa-fw fa-3x text-info fa-" *ngSwitchDefault></i>
                    </span>
                </div>
                <div>
                    {{ entity.name }}
                    <i *ngIf="!entity.isDraft()" class="fa fa-fw" [ngClass]="{
                        'fa-check-circle text-success': entity.enabled,
                        'fa-times-circle text-danger': !entity.enabled
                    }"></i>
                    <span *ngIf="entity.isDraft()" class="badge badge-warning" translate="message.incomplete-form" aria-label="Warning Badge: Incomplete Form">Incomplete Form</span>
                    <small class="d-block">{{ entity.getDisplayId() }}</small>
                </div>
            </div>
            <div class="col-4 text-right">
                <button *ngIf="showAdminFunctions"
                    [class.btn-success]="entity.enabled"
                    [class.btn-danger]="!entity.enabled"
                    class="btn text-capitalize"
                    (click)="toggleEnabled.emit(entity); $event.stopPropagation()"
                    aria-label="Enable this service provider">
                    <translate-i18n *ngIf="entity.enabled" key="label.disable">Disable</translate-i18n>
                    <translate-i18n *ngIf="!entity.enabled" key="label.enable">Enable</translate-i18n>
                    <i class="fa fa-fw fa-check-square-o fa-lg" *ngIf="entity.enabled"></i>
                    <i class="fa fa-fw fa-square-o fa-lg" *ngIf="!entity.enabled"></i>
                </button>
                <button class="btn btn-link"
                    (click)="preview.emit(entity); $event.stopPropagation()"
                    *ngIf="!entity.isDraft()"
                    aria-label="Review the XML of the selected service provider">
                    <i class="fa fa-fw fa-eye fa-2x"></i>
                </button>
                <!--
                <button class="btn btn-link"
                    (click)="history.emit(entity); $event.stopPropagation()"
                    aria-label="Review the version history of selected provider">
                    <i class="fa fa-fw fa-2x fa-history"></i>
                </button>
                -->
                <button class="btn btn-link"
                    (click)="select.emit(entity); $event.stopPropagation()"
                    aria-label="Edit selected service provider">
                    <i class="fa fa-fw fa-edit fa-2x"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="collapse" [ngClass]="{'show': isOpen}">
        <div class="card-body" tabindex="0">
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        <div class="col text-right font-weight-bold" translate="label.service-provider">
                            Metadata Source Name:
                        </div>
                        <div class="col">{{ entity.name }}</div>
                        <div class="col text-right font-weight-bold" translate="label.created-date">Created Date:</div>
                        <div class="col" *ngIf="!entity.isDraft()">{{ entity.getCreationDate() | customDate }}</div>
                        <div class="col" *ngIf="entity.isDraft()"> &mdash; </div>
                    </div>
                    <div class="row">
                        <div class="col text-right font-weight-bold" translate="label.service-entity-id">
                            Metadata Source Entity ID:
                        </div>
                        <div class="col">{{ entity.getDisplayId() }}</div>
                        <div class="col text-right font-weight-bold" translate="label.service-provider-status">
                            Metadata Source Status:
                        </div>
                        <div class="col" *ngIf="!entity.isDraft()">
                            <i class="fa fa-fw" [ngClass]="{
                                'fa-check-circle text-success': entity.enabled,
                                'fa-times-circle text-danger': !entity.enabled
                            }"></i>
                            <span *ngIf="entity.enabled" translate="value.enabled">Enabled</span>
                            <span *ngIf="!entity.enabled" translate="value.disabled">Disabled</span>
                        </div>
                        <div class="col" *ngIf="entity.isDraft()">
                            <span class="badge badge-warning" translate="message.incomplete-form">Incomplete Form</span>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button *ngIf="allowDelete"
                        class="btn btn-link pull-right"
                        (click)="delete.emit(entity)"
                        aria-label="Delete selected service provider">
                        <i class="fa fa-fw fa-trash fa-2x text-danger"></i>
                    </button>
                </div>
            </div>
        
        </div>
    </div>
</div>
