<nav *ngIf="currentPage">
    <ul class="nav nav-wizard">
        <li class="nav-item" *ngIf="!isFirstPage">
            <button class="nav-link previous btn clearfix" (click)="onPrevious.emit(previousPage.index)" [disabled]="wizardIsInvalid$ | async" [attr.aria-label]="previousPage.path" role="button">
                <span class="direction pull-left">
                    <i class="fa fa-fw fa-arrow-circle-left d-block fa-2x"></i>
                    <ng-container i18n="@@action--back">Back</ng-container>
                </span>
                <span class="label pull-right">
                    {{ previousPage.index }}. <i18n-text [key]="previousPage.path"></i18n-text>
                </span>
            </button>
        </li>
        <li class="nav-item">
            <h3 class="tag tag-primary">
                <span class="index">{{ currentPage.index }}</span>
                <i18n-text [key]="currentPage.path"></i18n-text>
            </h3>
        </li>
        <li class="nav-item" *ngIf="!isLastPage">
            <button class="nav-link next btn clearfix" (click)="onNext.emit(nextPage.index)" [disabled]="wizardIsInvalid$ | async" [attr.aria-label]="nextPage.path" role="button">
                <span class="label pull-left">
                    {{ nextPage.index }}. <i18n-text [key]="nextPage.path"></i18n-text>
                </span>
                <span class="direction pull-right">
                    <i class="fa fa-fw fa-arrow-circle-right d-block fa-2x"></i>
                    <ng-container i18n="@@action--next">Next</ng-container>
                </span>
            </button>
        </li>
        <li class="nav-item" *ngIf="isLastPage">
            <button class="nav-link save btn" (click)="onSave.emit()" aria-label="Save" role="button">
                <span class="label pull-left" i18n="@@action--save">Save</span>
                <span class="direction pull-right">
                    <i class="fa fa-fw fa-save next d-block fa-2x"></i>
                    <ng-container i18n="@@action--save">Save</ng-container>
                </span>
            </button>
        </li>
    </ul>
</nav>
