<div class="container">
    <metadata-header
        [metadata]="model$ | async"
        [version]="version$ | async"
        [versionNumber]="versionNumber$ | async"
        [isCurrent]="isCurrent$ | async"></metadata-header>
    <div class="px-3 my-3 d-flex justify-content-between">
        <a class="btn btn-link" routerLink="../history">
            <i class="fa fa-history sr-hidden"></i>
            Version History
        </a>
        <div class="btn-group">
            <a class="btn" routerLink="../options" routerLinkActive="btn-primary">Options</a>
            <a class="btn" routerLink="../xml" routerLinkActive="btn-primary">XML</a>
        </div>
    </div>
    <metadata-configuration [configuration]="configuration$ | async"></metadata-configuration>
</div>