<h2 class="mb-4" [ngSwitch]="type$ | async">
    <ng-container *ngSwitchCase="'resolver'" translate="label.source">Source</ng-container>
    <ng-container *ngSwitchDefault translate="label.provider">Provider</ng-container>
    Configuration
</h2>
<div class="container-fluid">
    <div class="px-3 my-3 d-flex justify-content-end">
        <div class="btn-group">
            <a class="btn" routerLink="../options" routerLinkActive="btn-primary">Options</a>
            <a class="btn" routerLink="../xml" routerLinkActive="btn-primary">XML</a>
        </div>
    </div>
    <div class="px-3 my-3">
        <pre class="border p-2 bg-light rounded"><code>{{ xml$ | async }}</code></pre>
        <button type="button" class="btn btn-primary" (click)="preview()">
            <i class="fa fa-fw fa-save"></i>
            <translate-i18n key="action.download-file">Download File</translate-i18n>
        </button>
    </div>
</div>