<h2 class="mb-4" [ngSwitch]="type$ | async">
    <ng-container *ngSwitchCase="'resolver'"><translate-i18n key="label.source">Source</translate-i18n></ng-container>
    <ng-container *ngSwitchDefault><translate-i18n key="label.provider">Provider</translate-i18n></ng-container>
    Configuration
</h2>
<div class="container-fluid">
    <div class="px-3 my-3 d-flex justify-content-end">
        <div class="btn-group" role="group" aria-label="XML selected">
            <a class="btn" routerLink="../options" routerLinkActive="btn-primary">
                <span class="sr-only"><translate-i18n key="action.toggle-view">Toggle view:</translate-i18n></span>
                Options
            </a>
            <a class="btn" routerLink="../xml" routerLinkActive="btn-primary" aria-pressed="true">
                <span class="sr-only"><translate-i18n key="action.toggle-view">Toggle view:</translate-i18n></span>
                XML
            </a>
        </div>
    </div>
    <div class="px-3 my-3">
        <figure role="img" aria-labelledby="pre-caption" tabindex="0">
            <pre class="border p-2 bg-light rounded"><code>{{ xml$ | async }}</code></pre>
            <figcaption id="pre-caption" class="sr-only">
                {{ xml$ | async }}
            </figcaption>
        </figure>
        
        <button type="button" class="btn btn-primary" (click)="preview()">
            <i class="fa fa-fw fa-save"></i>
            <translate-i18n key="action.download-file">Download File</translate-i18n>
        </button>
    </div>
</div>