<div class="" [ngClass]="{
    'container-fluid': (numVersions$ | async) > 2,
    'container': (numVersions$ | async) <= 2
}">
    <div class="px-3 my-3 d-flex justify-content-start">
        <a class="btn btn-link" routerLink="../history">
            <i class="fa fa-history sr-hidden"></i>&nbsp;
            <translate-i18n key="action.version-history">Version History</translate-i18n>
        </a>
    </div>
    <metadata-configuration [configuration]="versions$ | async"></metadata-configuration>
    <div *ngIf="kind === 'provider'" id="filters">
        <div class="numbered-header d-flex justify-content-start bg-light align-items-center">
            <h2 class="title h4 m-0 ml-2 flex-grow-1">
                <span class="text" translate="label.filters">Filters</span>
            </h2>
            <div class="actions p-2 invisible">-</div>
        </div>
        <filter-version-list class="d-block p-2"></filter-version-list>
    </div>
</div>