<div class="" [ngClass]="{
    'container-fluid': (numVersions$ | async) > 2,
    'container': (numVersions$ | async) <= 2
}">
    <div class="px-3 my-3 d-flex justify-content-start">
        <a class="btn btn-link" routerLink="../history">
            <i class="fa fa-history sr-hidden"></i>&nbsp;
            <translate-i18n key="action.version-history">Version History</translate-i18n>
        </a>
    </div>
    <metadata-configuration [configuration]="versions$ | async"></metadata-configuration>
</div>