<h2 class="mb-4" *ngIf="date$ | async">
    <translate-i18n key="label.restore-version" [params]="{ 'date': date$ | async }">
        Restore Version ( date )
    </translate-i18n>
</h2>
<div class="d-flex justify-content-center align-items-center">
    <div class="card m-4 w-50">
        <div class="card-body">
            <h3 class="card-title" translate="message.create-new-version-from-version">
                Create New Version from Previous Settings
            </h3>
            <p translate="message.restoring-this-version-will-copy"
                [translateParams]="{ 'date': date$ | async }">
                Restoring this version will copy the Version ( date ) configuration and create a new Version from the selected version settings. You can then edit the configuration before saving the new version.
            </p>
            <a [routerLink]="['../', 'history']" class="btn btn-light" translate="action.cancel">Cancel</a>&nbsp;
            <button class="btn btn-primary" (click)="restore()" translate="action.restore">Restore</button>
        </div>
    </div>
</div>
