<section *ngIf="model$ | async" [attr.aria-label]="'Edit metadata ' + kind$ + ' - ' + (model$ | async).name" tabindex="0">
    <div class="row">
        <div class="col-6 d-lg-none order-1">
            <editor-nav
                [format]="formats.DROPDOWN"
                [status]="status$ | async">
            </editor-nav>
        </div>
        <div class="col-6 col-lg-3 order-2 text-right">
            <button class="btn btn-info"
                (click)="save()"
                [disabled]="(isInvalid$ | async) || (isSaving$ | async)"
                aria-label="Save changes to the metadata source. You will return to the dashboard"
                role="button">
                <i class="fa fa-fw fa-lg" [ngClass]="{
                    'fa-save': !(isSaving$ | async),
                    'fa-spinner': (isSaving$ | async),
                    'fa-pulse': (isSaving$ | async)
                }"></i>
                <translate-i18n key="action.save">Save</translate-i18n>
            </button>
            &nbsp;
            <button class="btn btn-secondary"
                (click)="cancel()" aria-label="Cancel changes, go back to dashboard"
                role="button">
                <translate-i18n key="action.cancel">Cancel</translate-i18n>
            </button>
        </div>
        <div class="col-xs-12 col-lg-9 order-lg-1 order-3">
            <div class="alert alert-danger alert-compact mt-3 mt-lg-0"
                *ngIf="(isInvalid$ | async)">
                <i class="fa fa-fw fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                <translate-i18n key="message.editor-invalid">All forms must be valid before changes can be saved!</translate-i18n>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-3 d-none d-lg-block">
            <editor-nav
                [status]="status$ | async"
                [format]="formats.TABS">
            </editor-nav>
        </div>
        <div class="col-lg-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>

