<div class="widget form-group">
    <label class="d-flex justify-content-start control-label">
        <span>{{ schema.title }}</span>
        <span *ngIf="schema.description">
            <ng-template #tooltip translate="tooltip.description">{{ schema.description }}</ng-template>
            <i class="info-icon fa fa-fw fa-info-circle text-primary fa-lg"
                [ngbPopover]="tooltip"
                i18n-aria-label="@@tooltip.instruction"
                aria-label="Information icon - press spacebar to read additional information for this form field"></i>
        </span>
    </label>
    <span *ngIf="schema.description" class="sr-only">{{ schema.description }}</span>
    <div *ngFor="let option of schema.oneOf; let i=index;" class="form-check form-check-inline">
        <label class="control-label">
            <input
                [id]="name + '-' + i"
                [formControl]="control"
                [name]="name"
                [value]="option.enum[0]"
                type="radio"
                [attr.disabled]="schema.readOnly">
            {{ option.description }}
        </label>
    </div>
    <input *ngIf="schema.readOnly" [attr.name]="name" type="hidden" [formControl]="control">
</div>