<div class="widget form-group">
    <label>{{ schema.title }}</label>
    <span *ngIf="schema.description" class="sr-only">{{ schema.description }}</span>
    <div *ngFor="let option of schema.oneOf; let i=index;" class="form-check form-check-inline">
        <label class="control-label">
            <input
                [id]="name + '-' + i"
                [formControl]="control"
                [name]="name"
                [value]="option.enum[0]"
                type="radio"
                [attr.disabled]="schema.readOnly">
            {{ option.description }}
        </label>
    </div>
    <input *ngIf="schema.readOnly" [attr.name]="name" type="hidden" [formControl]="control">
</div>