<div class="widget form-group">
    <label class="d-flex justify-content-start control-label">
        <span [translate]="schema.title">{{ schema.title }}</span>
        <span *ngIf="schema.description">
            <ng-template #tooltip>
                <translate-i18n [key]="schema.description">{{ schema.description }}</translate-i18n>
            </ng-template>
            <i class="info-icon fa fa-fw fa-info-circle text-primary fa-lg"
                [ngbPopover]="tooltip"
                i18n-aria-label="tooltip.instruction"
                [attr.aria-label]="'tooltip.instruction' | translate"></i>
        </span>
    </label>
    <span *ngIf="schema.description" class="sr-only" [translate]="schema.description">{{ schema.description }}</span>
    <div *ngFor="let option of schema.oneOf; let i=index;" class="form-check form-check-inline">
        <label class="control-label">
            <input
                [id]="name + '-' + i"
                [formControl]="control"
                [name]="name"
                [value]="option.enum[0]"
                type="radio"
                [attr.disabled]="schema.readOnly">
            <translate-i18n [key]="option.description">{{ option.description }}</translate-i18n>
        </label>
    </div>
    <input *ngIf="schema.readOnly" [attr.name]="name" type="hidden" [formControl]="control">
</div>