<div class="container-fluid">
    <div class="row">
        <ng-container *ngFor="let fieldset of formProperty.schema.fieldsets; let i = index;">
            <fieldset
                class="col"
                [class.d-none]="fieldset.type === 'hidden'"
                [class.col-lg-6]="fieldset.type === 'group'"
                [class.col-lg-12]="fieldset.type === 'group-lg'">
                <legend class="text-primary" *ngIf="fieldset.title">
                    <translate-i18n [key]="fieldset.title">{{ fieldset.title }}</translate-i18n>
                </legend>
                <p *ngIf="fieldset.description" [translate]="fieldset.description">{{ fieldset.description }}</p>
                <div [ngClass]="{
                    'bg-light border rounded px-4 pt-4 pb-1': fieldset.type === 'section' || (!fieldset.type && formProperty.schema.widget.id === 'fieldset')
                }">
                    <div *ngFor="let fieldId of fieldset.fields">
                        <sf-form-element [formProperty]="formProperty.getProperty(fieldId)"></sf-form-element>
                    </div>
                </div>
            </fieldset>
        </ng-container>
    </div>
</div>