<nav *ngIf="index$ | async">
    <ul class="nav nav-wizard">
        <li class="nav-item" *ngIf="(previous$ | async)">
            <button class="nav-link previous btn clearfix" (click)="onPrevious.emit(previousPage.index)" [disabled]="disabled$ | async"
                [attr.aria-label]="previousPage.path" role="button">
                <span class="direction pull-left">
                    <i class="fa fa-fw fa-arrow-circle-left d-block fa-2x"></i>
                    <ng-container i18n="@@action--back">Back</ng-container>
                </span>
                <span class="label pull-right">
                    {{ (previous$ | async).index }}. {{ (previous$ | async).label }}
                </span>
            </button>
        </li>
        <li class="nav-item">
            <h3 class="tag tag-primary">
                <span class="index">{{ (current$ | async).index }}</span>
                {{ (current$ | async).index }}. {{ (current$ | async).label }}
            </h3>
        </li>
        <li class="nav-item" *ngIf="(next$ | async)">
            <button class="nav-link next btn clearfix" (click)="onNext.emit(nextPage.index)" [disabled]="disabled$ | async" [attr.aria-label]="nextPage.path"
                role="button">
                <span class="label pull-left">
                    {{ (next$ | async).index }}. {{ (next$ | async).label }}
                </span>
                <span class="direction pull-right">
                    <i class="fa fa-fw fa-arrow-circle-right d-block fa-2x"></i>
                    <ng-container i18n="@@action--next">Next</ng-container>
                </span>
            </button>
        </li>
        <li class="nav-item" *ngIf="(save$ | async) && !(next$ | async)">
            <button class="nav-link save btn" aria-label="Save" role="button">
                <span class="label pull-left" i18n="@@action--save">Save</span>
                <span class="direction pull-right">
                    <i class="fa fa-fw fa-save next d-block fa-2x"></i>
                    <ng-container i18n="@@action--save">Save</ng-container>
                </span>
            </button>
        </li>
    </ul>
</nav>
