<nav *ngIf="index$ | async">
    <ul class="nav nav-wizard">
        <li class="nav-item" *ngIf="(previous$ | async)">
            <button class="nav-link previous btn clearfix" (click)="onPrevious.emit(previousPage.index)" [disabled]="disabled$ | async"
                [attr.aria-label]="previousPage.path" role="button">
                <span class="direction pull-left">
                    <i class="fa fa-fw fa-arrow-circle-left d-block fa-2x"></i>
                    <translate key="action.back">Back</ng-container>
                </span>
                <span class="label pull-right">
                    <ng-container *ngIf="(previous$ | async).index">{{ (previous$ | async).index }}. </ng-container>
                    {{ (previous$ | async).label }}
                </span>
            </button>
        </li>
        <li class="nav-item">
            <h3 class="tag tag-primary">
                <span class="index">
                    <ng-container [ngSwitch]="currentIcon$ | async">
                        <ng-container *ngSwitchDefault>{{ (current$ | async).index }}</ng-container>
                        <ng-container *ngSwitchCase="icons.CHECK"><i class="fa fa-check"></i></ng-container>
                    </ng-container>
                </span>
                <ng-container [ngSwitch]="currentIcon$ | async">
                    <ng-container *ngSwitchDefault>{{ (current$ | async).index }}. {{ (current$ | async).label }}</ng-container>
                    <ng-container *ngSwitchCase="icons.CHECK">{{ (current$ | async).label }}</ng-container>
                </ng-container>
            </h3>
        </li>
        <li class="nav-item" *ngIf="(next$ | async)">
            <button class="nav-link next btn clearfix" (click)="onNext.emit(nextPage.index)" [disabled]="disabled$ | async" [attr.aria-label]="nextPage.path"
                role="button">
                <span class="label pull-left">
                    <ng-container *ngIf="(next$ | async).index">{{ (next$ | async).index }}. </ng-container>
                    {{ (next$ | async).label }}
                </span>
                <span class="direction pull-right">
                    <i class="fa fa-fw fa-arrow-circle-right d-block fa-2x"></i>
                    <translate key="action.next">Next</ng-container>
                </span>
            </button>
        </li>
        <li class="nav-item" *ngIf="(last$ | async)">
            <button class="nav-link save btn"
                aria-label="Save"
                role="button"
                [disabled]="disabled$ | async"
                (click)="onSave.emit()">
                <span class="label pull-left" translate="action.save">
                    Save
                </span>
                <span class="direction pull-right">
                    <i class="fa fa-fw next d-block fa-2x"
                        [ngClass]="{
                            'fa-save': !(disabled$ | async),
                            'fa-spinner': (disabled$ | async),
                            'fa-pulse': (disabled$ | async)
                        }"></i>
                    <translate key="action.save">Save</ng-container>
                </span>
            </button>
        </li>
    </ul>
</nav>
