<div>
    <ng-container *ngIf="property.items.type === 'object'">
        <div class="p-2" role="term" [translate]="property.name">{{ property.name }}</div>
        <div class="p-2" *ngIf="property.value && property.value.length">
            <div *ngFor="let value of property.value; let i = index;" class="mb-2 bg-lighter">
                <div *ngFor="let prop of getKeys(property.items); let n = index;"
                    class="d-flex p-2">
                    <div class="w-50">
                        <span [class.invisible]="n">{{ i + 1 }}.&nbsp;</span>
                        <span [translate]="property.items.properties[prop].title">{{ property.items.properties[prop].title }}</span>
                    </div>
                    <div class="w-50" [ngbPopover]="value[prop]" triggers="mouseenter:mouseleave" container="body" placement="left">
                        {{ value[prop] }}
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="property.items.type === 'string'" [ngSwitch]="getItemType(property.items)">
        <ng-container *ngSwitchCase="'datalist'">
            <ng-template [ngTemplateOutlet]="listref"></ng-template>
        </ng-container>
        <ng-container *ngSwitchCase="'select'">
            <ng-template [ngTemplateOutlet]="listref"></ng-template>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <div *ngFor="let attr of attributeList$ | async" class="d-flex justify-content-between border-bottom border-light">
                <span class="w-50 p-2" role="term" [translate]="attr.label">{{ attr.label }}</span>
                <div class="w-50 p-2">
                    <span *ngIf="property.value && property.value.indexOf(attr.key) > -1" translate="value.true">
                        true
                    </span>
                    <span *ngIf="!property.value || !(property.value.indexOf(attr.key) > -1)" translate="value.false">
                        false
                    </span>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
<ng-template #listref>
    <div class="d-flex border-bottom border-light">
        <span class="w-50 p-2" role="term" [translate]="property.name">{{ property.name }}</span>
        <p class="text-secondary w-50 p-2" *ngIf="!property.value || !property.value.length">&mdash;</p>
        <ul class="list-unstyled w-50 py-2" *ngIf="property.value && property.value.length">
            <li *ngFor="let item of property.value">
                {{ item }}
            </li>
        </ul>
    </div>
</ng-template>