<table class="table">
    <caption class="sr-only"><translate-i18n key="label.name-and-entityid">Metadata Version History</translate-i18n></caption>
    <thead>
        <tr>
            <th scope="col">
                <span class="sr-only"><translate-i18n key="label.select-version">Select Version</translate-i18n></span>
            </th>
            <th scope="col"><translate-i18n key="label.save-date">Save Date</translate-i18n></th>
            <th scope="col"><translate-i18n key="label.changed-by">Changed By</translate-i18n></th>
            <th scope="col"><translate-i18n key="label.actions">Actions</translate-i18n></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let version of history; index as i;">
            <td>
                <div class="custom-control custom-checkbox" (click)="toggleVersionSelected(version)">
                    <input [title]="'check-' + i" type="checkbox" class="custom-control-input" [checked]="selected.indexOf(version) > -1">
                    <label class="custom-control-label" [for]="'check-' + i">
                        <span class="sr-only"><translate-i18n key="label.check-to-select">Check to select</translate-i18n></span>
                    </label>
                </div>
            </td>
            <td>
                <a [routerLink]="['../', 'options']" *ngIf="i === 0">
                    {{ version.date | date:DATE_FORMAT }}&nbsp;(<translate-i18n key="label.current">Current</translate-i18n>)
                </a>
                <a [routerLink]="['../', 'version', version.id, 'options']" *ngIf="i > 0">
                    {{ version.date | date:DATE_FORMAT }}
                </a>
            </td>
            <td>{{ version.creator }}</td>
            <td>
                <button class="btn btn-text btn-link" (click)="restore.emit(version)"  *ngIf="i > 0">
                    <i class="fa fa-undo"></i>&nbsp;
                    <translate-i18n key="action.restore">Restore</translate-i18n>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" (click)="compare.emit(selected)" [disabled]="!selected.length">
    <translate-i18n key="label.compare-selected">Compare Selected</translate-i18n> <span *ngIf="selected.length">({{ selected.length }})</span>
</button>