<div *ngIf="configuration">
    <section *ngFor="let section of configuration.sections; let i = index;" class="mb-4">
        <div class="config-group"  *ngIf="section && section.properties && section.properties.length">
            <div class="numbered-header d-flex justify-content-start bg-light align-items-center">
                <h2 class="title h4 m-0 flex-grow-1">
                    <span *ngIf="numbered"
                        class="d-inline-block px-2 py-1 mb-0 h4 number border border-secondary bg-white rounded-lg">
                        <span *ngIf="i + 1 < 10">0</span>{{ i + 1 }}
                    </span>
                    <span class="text ml-2">{{ section.label | translate }}</span>
                </h2>
                <div class="actions px-2"
                    *ngIf="editable && configuration.dates.length === 1">
                    <button class="btn btn-link edit-link change-view" (click)="edit(section.id)">
                        <i class="fa fa-edit"></i>&nbsp;
                        <span translate="action.edit">Edit</span>
                    </button>
                </div>
            </div>
            <div class="p-2">
                <ng-container *ngIf="section && section.properties && section.properties.length">
                    <div class="d-flex border-bottom border-light border-2 py-2">
                        <strong [ngStyle]="{'width': width}" translate="label.option">Option</strong>
                        <strong *ngFor="let date of configuration.dates" [ngStyle]="{'width': width}">
                            <translate-i18n key="label.value" *ngIf="configuration.dates.length <= 1">Value</translate-i18n>
                            <span *ngIf="configuration.dates.length > 1">{{ date | date:DATE_FORMAT }}</span>
                        </strong>
                    </div>
                    <object-property
                        class="d-block"
                        [property]="section"
                        [columns]="configuration.dates.length"
                        (preview)="onPreview($event)">
                    </object-property>
                </ng-container>
            </div>
        </div>
    </section>
</div>