<div *ngIf="configuration">
    <section class="px-3 mb-3" *ngFor="let section of configuration.sections; let i = index;">
        <div class="config-group">
            <div class="numbered-header d-flex justify-content-start bg-light align-items-center">
                <h2 class="title h4 m-0 flex-grow-1">
                    <span class="d-inline-block px-2 py-1 mr-2 mb-0 h4 number border border-secondary bg-white rounded-lg"><span *ngIf="i + 1 < 10">0</span>{{ i + 1 }}</span>
                    <span class="text">{{ section.label | translate }}</span>
                </h2>
                <div class="actions px-2">
                    <a class="edit-link change-view" [routerLink]="['../', 'edit', section.id]">
                        <i class="fa fa-edit"></i>
                        <span translate="action.edit">Edit</span>
                    </a>
                </div>
            </div>
            <div class="d-flex border-bottom border-light border-2 p-2">
                <strong class="w-50" translate="label.option">Option</strong>
                <strong class="w-50" translate="label.value">Value</strong>
            </div>
            <object-property class="d-block" *ngIf="section" [property]="section"></object-property>
        </div>
    </section>
</div>
