<div class="widget form-group">
    <label [for]="id" class="d-flex justify-content-between control-label">
        <span [ngClass]="{'sr-only': formProperty.parent.schema.type === 'array'}">
            <translate-i18n [key]="schema.title">{{ schema.title }}</translate-i18n>
            <i class="fa fa-asterisk text-danger" aria-hidden="true" *ngIf="required"></i>
        </span>
        <span *ngIf="schema.description">
            <info-icon [description]="schema.description | translate"></info-icon>
        </span>
    </label>
    <span *ngIf="schema.description" class="sr-only" [translate]="schema.description">{{ schema.description }}</span>
    <auto-complete
        [id]="id"
        [fieldId]="id"
        [formControl]="control"
        [matches]="schema.widget.data"
        [required]="true"
        [dropdown]="true"
        [attr.placeholder]="schema.placeholder || '' | translate"
        [attr.disabled]="schema.readOnly?true:null"
        role="textbox"
        [attr.aria-label]="schema.title | translate">
    </auto-complete>
</div>
