<div class="widget form-group">
    <label [for]="formProperty._canonicalPath" class="d-flex justify-content-between control-label">
        <span [ngClass]="{'sr-only': formProperty.parent.schema.type === 'array'}">
            <translate-i18n [key]="title">{{ title }}</translate-i18n>
            <i class="fa fa-asterisk text-danger" aria-hidden="true" *ngIf="required"></i>
        </span>
        <span *ngIf="schema.description">
            <info-icon [description]="schema.description | translate"></info-icon>
        </span>
    </label>
    <span *ngIf="schema.description" class="sr-only" [translate]="schema.description">{{ schema.description }}</span>
    <auto-complete
        [id]="formProperty._canonicalPath"
        [fieldId]="formProperty._canonicalPath"
        [formControl]="control"
        [matches]="schema.widget.data"
        [required]="true"
        [dropdown]="true"
        [attr.placeholder]="schema.placeholder || '' | translate"
        [attr.disabled]="schema.readOnly?true:null"
        role="textbox"
        [attr.aria-label]="title | translate">
    </auto-complete>
    <small class="form-text text-danger" *ngIf="errorMessages && errorMessages.length && control.touched">
        <ng-container *ngFor="let error of errorMessages; let first=first;">
            <ng-container *ngIf="!first">, </ng-container>
            <translate-i18n [key]="getError(error)">error</translate-i18n>
        </ng-container>
    </small>
</div>
