<div class="widget form-group">
    <label [attr.for]="id" class="d-flex justify-content-between control-label">
        <span>
            {{ schema.title }}
            <i class="fa fa-asterisk text-danger" aria-hidden="true" *ngIf="required"></i>
        </span>
        <span *ngIf="schema.description">
            <ng-template #tooltip i18n="@@tooltip--description">{{ schema.description }}</ng-template>
            <i class="info-icon fa fa-fw fa-info-circle text-primary fa-lg"
                [ngbPopover]="tooltip"
                i18n-aria-label="@@tooltip--instruction"
                aria-label="Information icon - press spacebar to read additional information for this form field"></i>
        </span>
    </label>
    <span *ngIf="schema.description" class="sr-only">{{ schema.description }}</span>
    <auto-complete
        [id]="id"
        [formControl]="control"
        [matches]="schema.widget.data"
        [required]="true"
        [dropdown]="true"
        [placeholder]="schema.placeholder || ''"
        [attr.disabled]="schema.readOnly?true:null"
        role="textbox"
        aria-label="Name ID Format (type for auto-complete)">
    </auto-complete>
</div>