<div class="container-fluid p-3" role="main">
    <section class="section">
        <div class="section-header bg-info p-2 text-white">
            <div class="row justify-content-between">
                <div class="col-md-12">
                    <span class="display-6">
                        <i class="fa fa-gears"></i>
                        <ng-container i18n="@@label--edit-filter">Edit Filter - {{ (filter$ | async).filterName }}</ng-container>
                    </span>
                </div>
            </div>
        </div>
        <div class="section-body p-4 border border-top-0 border-info">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-lg-6 col-xs-9 ">
                        <fieldset class="">
                            <div class="form-group">
                                <div class="row">
                                    <label for="filterName" class="col-sm-10">
                                        <span>
                                            <ng-container i18n="@@label--filter-name">
                                                Filter Name
                                            </ng-container>
                                            <ng-container i18n="@@label--dashboard-display-only">
                                                (Dashboard Display Only)
                                            </ng-container>
                                            <i class="fa fa-asterisk text-danger" aria-hidden="true"></i>
                                        </span>
                                    </label>
                                    <span class="text-right col-sm-2">
                                        <ng-template #tooltipFilterName i18n="@@tooltip--filter-name">Filter Name</ng-template>
                                        <i class="info-icon fa fa-info-circle text-primary fa-lg" [ngbPopover]="tooltipFilterName" i18n-aria-label="@@tooltip--instruction"
                                            aria-label="Information icon - press spacebar to read additional information for this form field"></i>
                                    </span>
                                </div>
                                <input id="filterName" type="text" class="form-control" placeholder="" formControlName="filterName" />
                                <ng-container *ngIf="form.get('filterName').touched && form.get('filterName').invalid">
                                    <small class="form-text text-danger" *ngIf="form.get('filterName').hasError('required')">
                                        <ng-container i18n="@@message--service-provider-name-required">Filter Name is required</ng-container>
                                    </small>
                                </ng-container>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="entityId" class="col-sm-10">
                                        <span>
                                            <ng-container i18n="@@label--search-entity-id">Search Entity ID</ng-container>
                                            <i class="fa fa-asterisk text-danger" aria-hidden="true"></i>
                                            <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="processing$ | async"></i>
                                        </span>
                                    </label>
                                    <span class="text-right col-sm-2">
                                        <ng-template #tooltipFilterEntityId i18n="@@tooltip--search-entity-id">Search Entity ID</ng-template>
                                        <i class="info-icon fa fa-info-circle text-primary fa-lg" [ngbPopover]="tooltipFilterEntityId" i18n-aria-label="@@tooltip--instruction"
                                            aria-label="Information icon - press spacebar to read additional information for this form field"></i>
                                    </span>
                                </div>
                                <label for="entityId" class="sr-only">Search Entity ID</label>
                                <div class="row">
                                    <auto-complete id="entityId"
                                        #entityInput
                                        class="component-control col-9"
                                        formControlName="entityId"
                                        limit="10"
                                        [matches]="entityIds$ | async"
                                        [required]="true"
                                        [processing]="(processing$ | async)"
                                        (more)="onViewMore($event)">
                                    </auto-complete>
                                    <div class="col-3">
                                        <button
                                            *ngIf="form.get('entityId').disabled"
                                            class="btn btn-block btn-secondary"
                                            type="button"
                                            (click)="onChangeId()">
                                            Change ID
                                        </button>
                                        <button
                                            *ngIf="form.get('entityId').enabled"
                                            class="btn btn-block btn-outline-secondary"
                                            type="button"
                                            (click)="onCancelChangeId()">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                                <ng-container *ngIf="form.get('entityId').touched && form.get('entityId').invalid">
                                    <small class="form-text text-danger">
                                        <ng-container *ngIf="form.get('entityId').hasError('required')" i18n="@@message--entity-id-required">Entity ID is required</ng-container>
                                        <ng-container *ngIf="form.get('entityId').hasError('exists')" i18n="@@message--entity-id-not-found">Entity ID not found</ng-container>
                                    </small>
                                </ng-container>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-6 col-xs-3 text-right">
                        <button (click)="this.preview(filter)" type="submit" class="btn btn-success">
                            <i class="fa fa-eye fa-lg"></i>
                            <ng-container i18n="@@action--save-changes">Preview XML</ng-container>
                        </button>
                        <button (click)="this.save()" type="submit" class="btn btn-primary" [disabled]="form.invalid">
                            <i class="fa fa-save fa-lg"></i>
                            <ng-container i18n="@@action--save-changes">Save Changes</ng-container>
                        </button>
                        <button (click)="this.cancel()" type="reset" class="btn btn-secondary">
                            <ng-container i18n="@@action--cancel">Cancel</ng-container>
                        </button>
                    </div>
                </div>
                <section>
                    <hr />
                    <div class="row" *ngIf="preview$ | async">
                        <fieldset class="col-lg-6">
                            <div class="form-group">
                                <div class="row">
                                    <label for="filterName" class="col-sm-10"  i18n="@@label--entity-preview">
                                         Entity ID Preview (read-only)
                                    </label>
                                    <span class="text-right col-sm-2">
                                        <ng-template #tooltipFilterName i18n="@@tooltip--entity-preview">Entity Preview</ng-template>
                                        <i class="info-icon fa fa-info-circle text-primary fa-lg" [ngbPopover]="tooltipFilterName" i18n-aria-label="@@tooltip--instruction"
                                            aria-label="Information icon - press spacebar to read additional information for this form field"></i>
                                    </span>
                                </div>
                                <dl>
                                    <dt class="text-primary" i18n="@@label--display-name">Display Name</dt>
                                    <dd class="value">{{ (preview$ | async).displayName }}</dd>
                                    <dt class="text-primary" i18n="@@label--description">Description</dt>
                                    <dd class="value">{{ (preview$ | async).description || '&mdash;' }}</dd>
                                </dl>
                            </div>
                            <hr />
                        </fieldset>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox custom-control-inline custom-control-reverse" for="filterEnabled">
                                    <input disableValidation="true" class="custom-control-input" type="checkbox" formControlName="filterEnabled" id="filterEnabled"
                                        name="filterEnabled" role="checkbox">
                                    <label class="custom-control-label" i18n="@@label--enable-this-filter" for="filterEnabled" aria-label="Enable this filter?">
                                        Enable this filter?
                                    </label>
                                </div>
                                <ng-template #tooltipEnableThisFilterUponSaving i18n="@@tooltip--enable-this-filter-upon-saving">Enable this filter upon saving popover</ng-template>
                                <i class="info-icon fa fa-info-circle text-primary fa-lg" [ngbPopover]="tooltipEnableThisFilterUponSaving" i18n-aria-label="@@tooltip--instruction"
                                    role="tooltip"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="filter$ | async">
                        <div class="col-lg-6">
                            <relying-party-form [provider]="filter$ | async"></relying-party-form>
                        </div>
                        <div class="col-lg-6">
                            <attribute-release-form [provider]="filter$ | async"></attribute-release-form>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </section>
</div>