<div class="container-fluid p-3" role="main">
    <section class="section">
        <div class="section-header bg-info p-2 text-light">
            <div class="row justify-content-between">
                <div class="col-md-12">
                    <span class="display-6">
                    <i class="fa fa-gears"></i> New Filter Page</span>
                </div>
            </div>
        </div>
        <div class="section-body p-4 border border-top-0 border-info">
            Body
        </div>
    </section>
</div>
