<div class="container-fluid p-3" role="main">
    <section class="section">
        <div class="section-header bg-info p-2 text-light">
            <div class="row justify-content-between">
                <div class="col-md-12">
                    <span class="display-6">
                        <i class="fa fa-gears"></i>
                        <ng-container i18n="@@label--new-filter">New Filter</ng-container>
                    </span>
                </div>
            </div>
        </div>
        <div class="section-body p-4 border border-top-0 border-info">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-lg-6 col-xs-9 ">
                        <fieldset class="">
                            <div class="form-group">
                                <label for="filterName">
                                    <ng-container i18n="@@label--filter-name">
                                        Filter Name
                                    </ng-container>
                                    <ng-container i18n="@@label--dashboard-display-only">
                                        (Dashboard Display Only)
                                    </ng-container>
                                    <i class="fa fa-asterisk text-danger" aria-hidden="true"></i>
                                </label>
                                <input id="filterName" type="text" class="form-control" placeholder="" formControlName="filterName" />
                                <ng-container *ngIf="form.get('filterName').touched && form.get('filterName').invalid">
                                    <small class="form-text text-danger" *ngIf="form.get('filterName').hasError('required')">
                                        <ng-container i18n="@@message--service-provider-name-required">Filter Name is required</ng-container>
                                    </small>
                                </ng-container>
                            </div>
                            <div class="form-group">
                                <label for="entityId">
                                    <ng-container i18n="@@label--search-entity-id">Search Entity ID</ng-container>
                                    <i class="fa fa-asterisk text-danger" aria-hidden="true"></i>
                                </label>
                                <auto-complete
                                    id="entityId"
                                    formControlName="entityId"
                                    [options]="entityIds$ | async"
                                    [required]="true"
                                    (more)="onViewMore($event)">
                                </auto-complete>
                                <ng-container *ngIf="form.get('entityId').touched && form.get('entityId').invalid">
                                    <small class="form-text text-danger" *ngIf="form.get('entityId').hasError('required')">
                                        <ng-container i18n="@@message--entity-id-required">Entity ID is required</ng-container>
                                    </small>
                                </ng-container>
                                <small class="form-text text-danger" *ngIf="form.get('entityId').hasError('unique')">
                                    <ng-container i18n="@@message--entity-id-must-be-unique">Entity ID must be unique</ng-container>
                                </small>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-6 col-xs-3 text-right">
                        <button (click)="save()" type="submit" class="btn btn-primary" [disabled]="form.invalid">
                            <i class="fa fa-save fa-lg"></i>
                            <ng-container i18n="@@action--save-changes">Save Changes</ng-container>
                        </button>
                        <button (click)="cancel()" type="reset" class="btn btn-secondary">
                            <ng-container i18n="@@action--cancel">Cancel</ng-container>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr />
                        <h2>TESTING: </h2>
                        Test Options:
                        <pre>{{ entityIds$ | async | json }}</pre>
                        Current Form Values:
                        <pre>{{ form.value | json }}</pre>
                            <!--<relying-party-form [provider]="latest$ | async"></relying-party-form>
                            <attribute-release-form [provider]="latest$ | async"></attribute-release-form>-->
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
