@import '../theme/palette';
nav.navbar {
    background-color: $white;

    .dropdown-menu {
        min-width: 12rem;
    }
}

.logo a {
    img {
        display: inline-block;
        max-height: 60px;
    }
}
