/* ==========================================================================
   Utilities and Mixins
   ========================================================================== */

// Round the corners
@mixin roundIt($radius: 0.5rem)
{
	border-radius: $radius;
}


// Numbered list
@mixin numbered-list() {
	counter-reset: li; /* Initiate a counter */
	margin-left: 0;
	padding-left: 0;

	> li {
		list-style: none;
		position: relative;
	}

	> li:before {
		content: counter(li); /* Use the counter as content */
		counter-increment: li; /* Increment the counter by 1 */
		/* Position and style the number */
	}
}

// Numbered LIs
@mixin numbered-list-items() {

	> li {
        margin-bottom: 0.5em;
		padding: 0.25em 0 0.5em 3.5em;
	}

	> li:before {
		position: absolute;
		top: 0px;
		left: 1em;
		z-index: 10;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 2em;
		/* Some space between the number and the content in browsers that support
		   generated content but not positioning it (Camino 2 is one example) */
		margin-right: 8px;
		padding: 4px;
		color: $text;
		background: $white;
		border: 1px solid rgba(0,0,0,0.2);
		//font-weight: 600;
		text-align: center;
	}
}

// Numbered LIs - Selectable
@mixin numbered-list-items-selectable() {

	> li {
        border: 1px solid #ccc;
        margin: 0 0 6px 2em;
		padding: 1em;
		@include roundIt();
    }
    
    > li:before {
        top: 10px;
        left: -1.5em;
	}
}

// Unordered styled
@mixin ul-styled {
	margin-left: 0;
	padding-left: 0;
	margin: 1em;
	max-width: 55em;

	> li {
		border-bottom: 1px dotted rgba(0,0,0,0.2);
		list-style: none;
		padding: 1em 2em 1em 3.5em;
		position: relative;

		&:first-child {
			border-top: 1px dotted rgba(0,0,0,0.2);
		}
	}

	> li:before {
		content: "\00bb";
		position: absolute;
		top: 0.85em;
		left: 1em;
		z-index: 10;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		height: 1.6em;
		width: 1.6em;
		/* Some space between the number and the content in browsers that support
			generated content but not positioning it (Camino 2 is one example) */
		margin-right: 8px;
		color: $white;
		background: $text;
		text-align: center;
		@include roundIt(0.25rem);
	}


}

.ul-styled {
	@include ul-styled();
}