<div class="row">
    <div class="col-xl-6 col-xs-12" *ngFor="let sections of columns">
        <section class="px-3" *ngFor="let section of sections; let i = index;" role="list">
            <button (click)="gotoPage(section.id)" class="tag tag-success tag-sm my-4 text-left" [attr.aria-label]="section.label | translate" role="button">
                <span class="index">{{ section.pageNumber }}</span>
                <translate-i18n [key]="section.label">{{ section.label }}</translate-i18n>
            </button>
            <ng-container *ngFor="let prop of section.properties">
                <summary-property [property]="prop" role="listitem"></summary-property>
            </ng-container>
        </section>
    </div>
</div>
