<div class="widget form-group" [class.d-none]="this.getInputType() === 'hidden'">
    <label [attr.for]="id" class="d-flex justify-content-between control-label">
        <span>
            <translate-i18n [key]="schema.title">{{ schema.title }}</translate-i18n> <i class="fa fa-asterisk text-danger" aria-hidden="true" *ngIf="required"></i></span>
        <span *ngIf="schema.description">
            <ng-template #tooltip>
                <translate-i18n [key]="schema.description">{{ schema.description }}</translate-i18n>
            </ng-template>
            <i class="info-icon fa fa-fw fa-info-circle text-primary fa-lg"
                [ngbPopover]="tooltip"
                [attr.aria-label]="'tooltip.instruction' | translate"></i>
        </span>
    </label>
    <span *ngIf="schema.description" class="sr-only" [translate]="schema.description">{{ schema.description }}</span>
    <input [name]="name"
        validate="true"
        [attr.readonly]="schema.readOnly?true:null"
        class="text-widget.id textline-widget form-control"
        [attr.type]="this.getInputType()"
        [attr.id]="id"
        [formControl]="control"
        [attr.placeholder]="schema.placeholder | translate"
        [attr.maxLength]="schema.maxLength || null"
        [attr.minLength]="schema.minLength || null"
        [attr.disabled]="(schema.widget.id=='color' && schema.readOnly)?true:null"
        [attr.aria-label]="schema.title">
    <input *ngIf="(schema.widget.id === 'color' && schema.readOnly)" [attr.name]="name" type="hidden" [formControl]="control">
    <small class="form-text text-danger" *ngIf="errorMessages && errorMessages.length && control.touched">
        {{ errorMessages }}
    </small>
    <small class="form-text text-secondary"
        *ngIf="!(control.touched && errorMessages && errorMessages.length) && schema.widget.help"
        [translate]="schema.widget.help">
        {{ schema.widget.help }}
    </small>
</div>
