<div class="container-fluid p-3">
    <section class="section">
        <div class="section-header bg-info p-2 text-white">
            <div class="row justify-content-between">
                <div class="col-md-12">
                    <span class="display-6">
                        <i class="fa fa-fw fa-gears"></i>&nbsp;&nbsp;
                        <ng-container *ngIf="type$ | async">
                            <translate-i18n key="label.edit-filter">Edit Filter</translate-i18n> &ndash; {{ type$ | async }}
                        </ng-container>
                    </span>
                </div>
            </div>
        </div>
        <div class="section-body p-4 border border-top-0 border-info">
            <div class="mx-3 my-2">
                <div class="d-flex justify-content-between">
                    <div class="d-block w-50">
                        <div class="form-group">
                            <label for="type">Filter Type</label>
                            <input class="form-control" type="text" readonly [value]="type$ | async" />
                        </div>
                    </div>
                    <div class="py-2">
                        <button (click)="this.save()" type="submit" class="btn btn-primary" [disabled]="cantSave$ | async">
                            <i class="fa fa-fw fa-lg" [ngClass]="{
                                                            'fa-save': !(isSaving$ | async),
                                                            'fa-spinner': (isSaving$ | async),
                                                            'fa-pulse': (isSaving$ | async)
                                                        }"></i>
                            <translate-i18n key="action.save">Save</translate-i18n>
                        </button>
                        &nbsp;
                        <button (click)="this.cancel($event)" type="button" class="btn btn-secondary" [disabled]="isSaving$ | async">
                            <translate-i18n key="action.cancel">Cancel</translate-i18n>
                        </button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-3 d-none d-lg-block">
                        <editor-nav
                            [format]="formats.TABS"
                            [status]="status$ | async">
                        </editor-nav>
                    </div>
                    <div class="col-lg-9">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
