<ul class="list-unstyled m-0">
    <li *ngFor="let resolver of resolvers$ | async; index as i"
        [ngClass]="{'mt-2': i > 0}"
        aria-label="Provider Item Accordion. Press Spacebar to open">
        <resolver-item
            [entity]="resolver"
            [isOpen]="true"
            (select)="edit(resolver)"
            (preview)="openPreviewDialog(resolver)"
            (delete)="deleteResolver(resolver)"
            (toggleEnabled)="toggleResolverEnabled(resolver, !resolver.enabled)"
            [showAdminFunctions]="true"
            [allowDelete]="true">
        </resolver-item>
    </li>
</ul>