<div class="alert alert-info" *ngIf="!(hasUsers$ | async)">
    <p>There are no users configured in the system for you to manage.</p>
</div>
<table class="table table-striped" *ngIf="hasUsers$ | async">
    <thead class="thead-primary">
        <tr>
            <th scope="col" translate="label.user-id">UserId</th>
            <th scope="col" translate="label.name">Name</th>
            <th scope="col" translate="label.email">Email</th>
            <th scope="col" translate="label.role">Role</th>
            <th scope="col" translate="label.delete">Delete?</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users$ | async">
            <th>{{ user.username }}</th>
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.emailAddress }}</td>
            <td>
                <select [name]="user.username"
                    [ngModel]="user.role"
                    class="form-control"
                    (change)="setUserRole(user, $event.target.value)"
                    [disabled]="currentUser.username === user.username">
                    <option *ngFor="let role of roles$ | async" [value]="role">{{ role }}</option>
                </select>
            </td>
            <td>
                <button class="btn btn-link" (click)="deleteUser(user.username)" *ngIf="!(currentUser.username === user.username)">
                    <span class="sr-only" translate="label.delete-user">
                        Delete User
                    </span>
                    <i class="fa fa-trash fa-lg text-danger"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>