<div class="alert alert-info" *ngIf="!(hasUsers$ | async)">
    <p>There are no users configured in the system for you to manage.</p>
</div>
<table class="table table-striped" *ngIf="hasUsers$ | async">
    <thead class="thead-primary">
        <tr>
            <th scope="col"><translate-i18n key="label.user-id">UserId</translate-i18n></th>
            <th scope="col" ><translate-i18n key="label.name">Name</translate-i18n></th>
            <th scope="col"><translate-i18n key="label.email">Email</translate-i18n></th>
            <th scope="col" ><translate-i18n key="label.role">Role</translate-i18n></th>
            <th scope="col"><translate-i18n key="label.delete">Delete?</translate-i18n></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users$ | async">
            <th>{{ user.username }}</th>
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.emailAddress }}</td>
            <td>
                <label [for]="'role-' + user.username"
                    class="sr-only"><translate-i18n key="action.user-role">User role</translate-i18n></label>
                <select
                    [id]="'role-' + user.username"
                    [name]="'role-' + user.username"
                    [ngModel]="user.role"
                    class="form-control"
                    (change)="setUserRole(user, $event.target.value)"
                    [disabled]="currentUser.username === user.username">
                    <option *ngFor="let role of roles$ | async" [value]="role">{{ role }}</option>
                </select>
            </td>
            <td>
                <button class="btn btn-link" (click)="deleteUser(user.username)" *ngIf="!(currentUser.username === user.username)">
                    <span class="sr-only">
                        <translate-i18n key="label.delete-user">Delete User</translate-i18n>
                    </span>
                    <i class="fa fa-trash fa-lg text-danger"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>